@import "../../../styles/mixins";
@import "../../../styles/variables";

.content-wrapper {
  padding: 1%;

  .account-list {
    padding: 1%;

    .account {
      margin-bottom: 0.5%;
      font-size: $medium-paragraph-font-size - 3px;
      cursor: pointer;
      font-weight: 300;
    }

    .active {
      color: white;
      background-color: $brivo-site-blue;
      font-weight: 400;
      // color: $brivo-site-green;
      // font-weight: 400;
    }
  }

  .button-wrapper {
    margin-top: 1%;
    // height: 90px;

    .download-message {
      margin-left: 10%;
      margin-top: 1%;

      font-size: $paragraph-font-size;
      color: $dark-grey;
      text-align: center;
    }
  }

}

.current-action {
  text-align: center;
  margin-top: 7%;
  font-size: $paragraph-font-size;
  color: $dark-grey;
}

.buttons-container {
  margin: 2%;

  .rps-button {
    display: inline-block;
    width: fit-content;
  }
}