<div class="content-wrapper">

  <div class="ui-widget-header" style="padding:4px 5px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input type="text" #filterValue pInputText placeholder="Lowercase Filter"
           (input)="loadBrivoAccounts()">
  </div>
  <div class="account-list" style="background:white">
    <div *ngIf="listLoaded">

      <div (scroll)="onScroll($event)" style="height: 160px; overflow-y: scroll;">
        <div class="account" *ngFor="let account of brivoAccounts"
             [ngClass]="{ 'active': accountIsSelected(account)}"
             (click)="setActive(account)">
          {{account.name}}
        </div>
      </div>
    </div>
    <p *ngIf="!listLoaded">{{loadingMessage}}</p>
  </div>

  <div class="button-wrapper">
    <div class="ui-g">
      <div class="ui-g-12" style="text-align:center">
        <button class="rps-button" [disabled]="!listLoaded" (click)="loadBrivoAccounts()" pButton type="button"
                icon="pi pi-refresh"
                class="button-style" label="Refresh account list">
        </button>
        <button pButton type="button"
                icon="pi pi-download"
                class="button-style" [disabled]="selectedBrivoAccount == undefined" (click)="downloadBrivoAccount()"
                label="Download selected account">
        </button>
      </div>
    </div>

    <div class="download-message">{{downloadMessage}}</div>
  </div>
</div>


