<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Doors</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [(selection)]="selectedDoors"
                 [loading]="loading"
                 [value]="doorsList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th style="width: 80px;">
                Details
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th></th>
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>

          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->
              <td style="text-align: center">
                <button pButton icon="fa fa-search" (click)="showDoorDetails(rowData)"></button>
              </td>
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedDoors.length > 0">Selected doors: {{selectedDoors.length}}</div>
          </ng-template>
        </p-table>

<!--        <div class="buttons-container">-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToEdit()" label="Edit"-->
<!--                  [disabled]="selectedDoors.length != 1">-->
<!--          </button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                  [disabled]="selectedDoors.length < 1">-->
<!--          </button>-->
<!--        </div>-->

      </div>

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId" [selectedPanel]="selectedPanel"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Delete doors" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected doors?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteDoors()" label="Delete"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Door details" [(visible)]="displayDetailsDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '800px', height: '900px'}">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="doorName" style="width: 100%;font-weight: bold">Door name</label>
    </div>
    <div class="ui-g-9">
      <label id="doorName">{{selectedDoorForDetails.name}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="siteName" style="width: 100%;font-weight: bold">Site</label>
    </div>
    <div class="ui-g-9">
      <label id="siteName">{{selectedDoorForDetails.siteName}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="brainName" style="width: 100%;font-weight: bold">Brain</label>
    </div>
    <div class="ui-g-9">
      <label id="brainName">{{selectedDoorForDetails.panelSerialNumber}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="board" style="width: 100%;font-weight: bold">Board</label>
    </div>
    <div class="ui-g-9">
      <label id="board">{{selectedDoorForDetails.boardDescription}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="boardNumber" style="width: 100%;font-weight: bold">Board number</label>
    </div>
    <div class="ui-g-9">
      <label id="boardNumber">{{selectedDoorForDetails.boardNumber}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="nodeNumber" style="width: 100%;font-weight: bold">Node number</label>
    </div>
    <div class="ui-g-9">
      <label id="nodeNumber">{{selectedDoorForDetails.nodeNumber}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="doorAjar" style="width: 100%;font-weight: bold">Door ajar enabled</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="doorAjar" [(ngModel)]="selectedDoorForDetails.doorData.notifyOnAjar" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="doorAjarThreshold" style="width: 100%;font-weight: bold">Door ajar threshold</label>
    </div>
    <div class="ui-g-9">
      <label id="doorAjarThreshold">{{selectedDoorForDetails.doorData.doorAjar}} [seconds]</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="maxInvalid" style="width: 100%;font-weight: bold">Invalid PIN's threshold</label>
    </div>
    <div class="ui-g-9">
      <label id="maxInvalid">{{selectedDoorForDetails.doorData.maxInvalid}} [attempts]</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="invalidShutout" style="width: 100%;font-weight: bold">Invalid PIN's shutdown</label>
    </div>
    <div class="ui-g-9">
      <label id="invalidShutout">{{selectedDoorForDetails.doorData.invalidShutout}} [seconds]</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="passThroughPeriod" style="width: 100%;font-weight: bold">Pass-through period</label>
    </div>
    <div class="ui-g-9">
      <label id="passThroughPeriod">{{selectedDoorForDetails.doorData.passthrough}} [seconds]</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="useRequestToExit" style="width: 100%;font-weight: bold">Use request to exit</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="useRequestToExit" [(ngModel)]="selectedDoorForDetails.doorData.notifyOnForced"
                  binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="rexFiresDoor" style="width: 100%;font-weight: bold">Rex Unlock</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="rexFiresDoor" [(ngModel)]="selectedDoorForDetails.doorData.rexFiresDoor"
                  binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="maxRexExtension" style="width: 100%;font-weight: bold">Maximum rex extension</label>
    </div>
    <div class="ui-g-9">
      <label id="maxRexExtension" *ngIf="selectedDoorForDetails.maxRexExtension != -1">
        {{selectedDoorForDetails.maxRexExtension}} [milliseconds]
      </label>
      <label *ngIf="selectedDoorForDetails.maxRexExtension == -1">-</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label style="width: 100%;font-weight: bold">In/Out</label>
    </div>
    <div class="ui-g-9" style="width:300px;display:flex">
      <div class="ui-g-12">
        <p-radioButton [disabled]="true" name="isIngress" value="{{INGRESS}}" label="In"
                       [(ngModel)]="selectedDoorForDetails.inOut" inputId="opt1"></p-radioButton>
      </div>
      <div class="ui-g-12">
        <p-radioButton [disabled]="true" name="isEgress" value="{{EGRESS}}" label="Out"
                       [(ngModel)]="selectedDoorForDetails.inOut" inputId="opt2"></p-radioButton>
      </div>
      <div class="ui-g-12">
        <p-radioButton [disabled]="true" name="neither" value="{{NEITHER}}" label="Neither"
                       [(ngModel)]="selectedDoorForDetails.inOut" inputId="opt3"></p-radioButton>
      </div>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="doorUnlockSchedule" style="width: 100%;font-weight: bold">Door Unlock Schedule</label>
    </div>
    <div class="ui-g-9">
      <label id="doorUnlockSchedule">{{selectedDoorForDetails.doorUnlockScheduleName}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="twoFactorSchedule" style="width: 100%;font-weight: bold">Two factor schedule</label>
    </div>
    <div class="ui-g-9">
      <label id="twoFactorSchedule">{{selectedDoorForDetails.twoFactorSchedule}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="twoFactorInterval" style="width: 100%;font-weight: bold">Two factor interval</label>
    </div>
    <div class="ui-g-9">
      <label id="twoFactorInterval">{{selectedDoorForDetails.twoFactorInterval}} [seconds]</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="cardRequiredSchedule" style="width: 100%;font-weight: bold">Card required schedule</label>
    </div>
    <div class="ui-g-9">
      <label id="cardRequiredSchedule">{{selectedDoorForDetails.cardRequiredSchedule}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="useAlarmShunt" style="width: 100%;font-weight: bold">Use Alarm Shunt</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="useAlarmShunt" [(ngModel)]="selectedDoorForDetails.doorData.useAlarmShunt"
                  binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="alarmDelay" style="width: 100%;font-weight: bold">Alarm shunt duration</label>
    </div>
    <div class="ui-g-9">
      <label id="alarmDelay">{{selectedDoorForDetails.doorData.alarmDelay}} [seconds]</label>
    </div>
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeDetailsDialog()"
              label="Close"></button>
    </div>
  </div>

</p-dialog>


<p-dialog header="Edit door" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          class="dialogEdit"
          [style]="{width: '800px', height: '900px'}"
          [contentStyle]="{'overflow':'visible','minHeight':'700px','maxHeight':'700px'}">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editDoorName" style="width: 100%;font-weight: bold">Door name</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editDoorName" [(ngModel)]="newDoor.name" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editSite" style="width: 100%;font-weight: bold">Site</label>
    </div>
    <div class="ui-g-9">
      <label id="editSite">{{newDoor.siteName}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editBrain" style="width: 100%;font-weight: bold">Brain</label>
    </div>
    <div class="ui-g-9">
      <label id="editBrain">{{newDoor.panelSerialNumber}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editBoard" style="width: 100%;font-weight: bold">Board</label>
    </div>
    <div class="ui-g-9">
      <label id="editBoard">{{newDoor.boardDescription}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editNode" style="width: 100%;font-weight: bold">Node number</label>
    </div>
    <div class="ui-g-9">
      <label id="editNode">{{newDoor.nodeNumber}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editDoorAjar" style="width: 100%;font-weight: bold">Door ajar enabled</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="editDoorAjar" [(ngModel)]="newDoor.doorData.notifyOnAjar" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editDoorAjarThreshold" style="width: 100%;font-weight: bold">Door ajar threshold</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editDoorAjarThreshold" [(ngModel)]="newDoor.doorData.doorAjar" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editMaxInvalid" style="width: 100%;font-weight: bold">Invalid PIN's threshold</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editMaxInvalid" [(ngModel)]="newDoor.doorData.maxInvalid" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editInvalidShutout" style="width: 100%;font-weight: bold">Invalid PIN's shutdown</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editInvalidShutout" [(ngModel)]="newDoor.doorData.invalidShutout"
             style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editPassThroughPeriod" style="width: 100%;font-weight: bold">Pass-through period</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editPassThroughPeriod" [(ngModel)]="newDoor.doorData.passthrough"
             style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editUseRequestToExit" style="width: 100%;font-weight: bold">Use request to exit</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="editUseRequestToExit" [(ngModel)]="newDoor.doorData.notifyOnForced"
                  binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editRexFiresDoor" style="width: 100%;font-weight: bold">Rex Unlock</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="editRexFiresDoor" [(ngModel)]="newDoor.doorData.rexFiresDoor" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editMaxRexExtension" style="width: 100%;font-weight: bold">Maximum rex extension</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editMaxRexExtension" [(ngModel)]="newDoor.maxRexExtension" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label style="width: 100%;font-weight: bold">In/Out</label>
    </div>
    <div class="ui-g-9" style="width:300px;display:flex">
      <div class="ui-g-12">
        <p-radioButton name="isIngress" value="{{INGRESS}}" label="In" [(ngModel)]="newDoor.inOut"
                       inputId="opt1"></p-radioButton>
      </div>
      <div class="ui-g-12">
        <p-radioButton name="isEgress" value="{{EGRESS}}" label="Out" [(ngModel)]="newDoor.inOut"
                       inputId="opt2"></p-radioButton>
      </div>
      <div class="ui-g-12">
        <p-radioButton name="neither" value="{{NEITHER}}" label="Neither" [(ngModel)]="newDoor.inOut"
                       inputId="opt3"></p-radioButton>
      </div>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editDoorUnlockSchedule" style="width: 100%;font-weight: bold">Door Unlock Schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="editDoorUnlockSchedule" [options]="schedulesList" [(ngModel)]="selectedDeviceUnlockSchedule"
                  filter="true"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editTwoFactorSchedule" style="width: 100%;font-weight: bold">Two factor schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="editTwoFactorSchedule" [options]="schedulesList" [(ngModel)]="selectedTwoFactorSchedule"
                  filter="true"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editTwoFactorInterval" style="width: 100%;font-weight: bold">Two factor interval</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editTwoFactorInterval" [(ngModel)]="newDoor.twoFactorInterval" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editCardRequiredSchedule" style="width: 100%;font-weight: bold">Card required schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="editCardRequiredSchedule" [options]="schedulesList" filter="true"
                  [(ngModel)]="selectedCardRequiredSchedule"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editUseAlarmShunt" style="width: 100%;font-weight: bold">Use Alarm Shunt</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="editUseAlarmShunt" [(ngModel)]="newDoor.doorData.useAlarmShunt" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editAlarmDelay" style="width: 100%;font-weight: bold">Alarm shunt duration</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="editAlarmDelay" [(ngModel)]="newDoor.doorData.alarmDelay" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editControlFromBrowser" style="width: 100%;font-weight: bold">Control from Browser</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="editControlFromBrowser" [(ngModel)]="newDoor.controlFromBrowser"
                  binary="true"></p-checkbox>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="saveDoorChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->

</p-dialog>


<p-dialog header="Add door" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          class="dialogAdd"
          [style]="{'width': '800px'}"
          [contentStyle]="{'overflow':'visible','minHeight':'700px','maxHeight':'700px'}">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="addDoorName" style="width: 100%;font-weight: bold">Door name</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="addDoorName" [(ngModel)]="newDoor.name" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="addSite" style="width: 100%;font-weight: bold">Site</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="addSite" filter="true" [options]="sitesList" [(ngModel)]="selectedSite"
                  optionLabel="siteName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="addBrain" style="width: 100%;font-weight: bold">Brain</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="addBrain" [options]="panelList" [(ngModel)]="selectedPanel" optionLabel="name" filter="true"
                  (onChange)="panelSelectionChanged()"></p-dropdown>
    </div>
  </div>

  <div
    *ngIf="selectedPanel != undefined && selectedPanel.name != '' && selectedSite != undefined && selectedSite.siteName != ''">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label style="width: 100%;font-weight: bold">Board</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="boardsForPanel" [(ngModel)]="selectedBoard" optionLabel="boardDescription" filter="true"
                    (onChange)="boardSelectionChanged()"></p-dropdown>
      </div>
    </div>

    <div *ngIf="selectedBoard != undefined && selectedBoard.boardDescription != ''">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="nodeNumber" style="width: 100%;font-weight: bold">Node number</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown filter="true" [options]="nodesForBoard" [(ngModel)]="selectedNode"
                      optionLabel="nodeDescription"></p-dropdown>
        </div>
      </div>

      <div *ngIf="selectedNode != undefined">
        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addDoorAjar" style="width: 100%;font-weight: bold">Door ajar enabled</label>
          </div>
          <div class="ui-g-9">
            <p-checkbox id="addDoorAjar" [(ngModel)]="newDoor.doorData.notifyOnAjar" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addDoorAjarThreshold" style="width: 100%;font-weight: bold">Door ajar threshold</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addDoorAjarThreshold" [(ngModel)]="newDoor.doorData.doorAjar" style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addMaxInvalid" style="width: 100%;font-weight: bold">Invalid PIN's threshold</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addMaxInvalid" [(ngModel)]="newDoor.doorData.maxInvalid" style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addInvalidShutout" style="width: 100%;font-weight: bold">Invalid PIN's shutdown</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addInvalidShutout" [(ngModel)]="newDoor.doorData.invalidShutout"
                   style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addPassThroughPeriod" style="width: 100%;font-weight: bold">Pass-through period</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addPassThroughPeriod" [(ngModel)]="newDoor.doorData.passthrough"
                   style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addUseRequestToExit" style="width: 100%;font-weight: bold">Use request to exit</label>
          </div>
          <div class="ui-g-9">
            <p-checkbox id="addUseRequestToExit" [(ngModel)]="newDoor.doorData.notifyOnForced"
                        binary="true"></p-checkbox>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addRexFiresDoor" style="width: 100%;font-weight: bold">Rex Unlock</label>
          </div>
          <div class="ui-g-9">
            <p-checkbox id="addRexFiresDoor" [(ngModel)]="newDoor.doorData.rexFiresDoor" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addMaxRexExtension" style="width: 100%;font-weight: bold">Maximum rex extension</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addMaxRexExtension" [(ngModel)]="newDoor.maxRexExtension" style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label style="width: 100%;font-weight: bold">In/Out</label>
          </div>
          <div class="ui-g-9" style="width:300px;display:flex">
            <div class="ui-g-12">
              <p-radioButton name="isIngress" value="{{INGRESS}}" label="In" [(ngModel)]="newDoor.inOut"
                             inputId="opt1"></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="isEgress" value="{{EGRESS}}" label="Out" [(ngModel)]="newDoor.inOut"
                             inputId="opt2"></p-radioButton>
            </div>
            <div class="ui-g-12">
              <p-radioButton name="neither" value="{{NEITHER}}" label="Neither" [(ngModel)]="newDoor.inOut"
                             inputId="opt3"></p-radioButton>
            </div>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addDoorUnlockSchedule" style="width: 100%;font-weight: bold">Door Unlock Schedule</label>
          </div>
          <div class="ui-g-9">
            <p-dropdown id="addDoorUnlockSchedule" [options]="schedulesList" [(ngModel)]="selectedDeviceUnlockSchedule"
                        filter="true"
                        optionLabel="scheduleName"></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addTwoFactorSchedule" style="width: 100%;font-weight: bold">Two factor schedule</label>
          </div>
          <div class="ui-g-9">
            <p-dropdown id="addTwoFactorSchedule" [options]="schedulesList" [(ngModel)]="selectedTwoFactorSchedule"
                        filter="true"
                        optionLabel="scheduleName"></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addTwoFactorInterval" style="width: 100%;font-weight: bold">Two factor interval</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addTwoFactorInterval" [(ngModel)]="newDoor.twoFactorInterval" style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addCardRequiredSchedule" style="width: 100%;font-weight: bold">Card required schedule</label>
          </div>
          <div class="ui-g-9">
            <p-dropdown id="addCardRequiredSchedule" [options]="schedulesList" filter="true"
                        [(ngModel)]="selectedCardRequiredSchedule"
                        optionLabel="scheduleName"></p-dropdown>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addUseAlarmShunt" style="width: 100%;font-weight: bold">Use Alarm Shunt</label>
          </div>
          <div class="ui-g-9">
            <p-checkbox id="addUseAlarmShunt" [(ngModel)]="newDoor.doorData.useAlarmShunt" binary="true"></p-checkbox>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addAlarmDelay" style="width: 100%;font-weight: bold">Alarm shunt duration</label>
          </div>
          <div class="ui-g-9">
            <input pInputText id="addAlarmDelay" [(ngModel)]="newDoor.doorData.alarmDelay" style="width: 100%;"/>
          </div>
        </div>

        <div class="ui-g-12">
          <div class="ui-g-3">
            <label for="addControlFromBrowser" style="width: 100%;font-weight: bold">Control from Browser</label>
          </div>
          <div class="ui-g-9">
            <p-checkbox id="addControlFromBrowser" [(ngModel)]="newDoor.controlFromBrowser"
                        binary="true"></p-checkbox>
          </div>
        </div>

        <!-- <p-footer>-->
        <div class="ui-g-12 dialog-buttons-container">
          <div class="ui-g-6 dialog-button-container">
            <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
                    label="Back"></button>
          </div>
          <div class="ui-g-6 dialog-button-container">
            <button class="rps-button dialog-button" type="button" pButton (click)="addDoor()"
                    label="Save"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--</p-footer>-->

</p-dialog>
