@import "../../../../styles/variables";

p {
  font-size: $medium-paragraph-font-size;
}

td, th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
}

.LoaderBalls {
  margin: 30% auto;
}

.tableFilterField {
  padding: 0px !important;
  margin: 0px !important;
}

.buttons-container {
  margin: 2%;

  .rps-button {
    display: inline-block;
    width: fit-content;
  }
}

::ng-deep p-dialog.dialogAdd .ui-dialog {
  overflow-y: auto;
  max-height: 750px;
  // max-height: 100%;
  //height: 700px !important;
}

::ng-deep p-dialog.dialogEdit .ui-dialog {
  overflow-y: auto;
  max-height: 750px;
  // max-height: 100%;
  //height: 700px !important;
}
