<div class="page-content">

  <div style="margin-bottom: 20px">
    <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Panels</h1>

    <div *ngIf="!contentLoaded" class="LoaderBalls">
      <div class="LoaderBalls__item"></div>
      <div class="LoaderBalls__item"></div>
      <div class="LoaderBalls__item"></div>
    </div>

    <div *ngIf="contentLoaded" style="margin-bottom: 20px">
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols"
                 responsive="true" [value]="panelsList" [paginator]="true" [rows]="10" [loading]="loading"
                 [(selection)]="selectedPanels">

          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th style="width: 80px;">
                Boards
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th></th>
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->
              <td style="text-align: center">
                <button pButton icon="fa fa-search" (click)="navigateToBoards(rowData)"></button>
              </td>
              <td *ngFor="let col of columns">
                <div *ngIf="col.field == 'lastPanelHeartbeat'">{{ rowData[col.field] | date:'M/d/y h:mm:ss a' }} </div>
                <div *ngIf="col.field != 'lastPanelHeartbeat'">{{ rowData[col.field] }}</div>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedPanels.length>0">Selected panels: {{selectedPanels.length}}</div>
          </ng-template>
        </p-table>
      </div>

<!--      <div class="buttons-container">-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToEdit()" label="Edit"-->
<!--                [disabled]="selectedPanels.length != 1">-->
<!--        </button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                [disabled]="selectedPanels.length < 1">-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
</div>


<p-dialog header="Add panel" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="name">Panel name</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="name" [(ngModel)]="newPanel.name" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Panel Type</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="panelTypes" [(ngModel)]="selectedPanelType"  filter="true" optionLabel="panelTypeName"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="panelCP">Panel CP</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="panelCP" [(ngModel)]="newPanel.panelCP" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="fwVersion">Firmware version</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="fwVersion" [(ngModel)]="newPanel.firmwareVersion" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="timezone">Timezone</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="timezone" [(ngModel)]="newPanel.timezone" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="password">Password</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="password" [(ngModel)]="newPanel.password" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="networkId">Network id</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="networkId" [(ngModel)]="newPanel.networkId" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="logPeriod">Log period</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="logPeriod" [(ngModel)]="newPanel.logPeriod" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="antipassbackResetInterval">Antipassback reset interval</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="antipassbackResetInterval" [(ngModel)]="newPanel.antipassBackResetInterval"
               style="width: 100%;"/>
      </div>
    </div>

    <!-- <p-footer>-->
    <div class="ui-g-12 dialog-buttons-container">
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
                label="Back"></button>
      </div>
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="addPanel()"
                label="Save"></button>
      </div>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>


<p-dialog header="Delete panels" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected panels?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deletePanels()" label="Delete"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Edit panel" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editName">Panel name</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editName" [(ngModel)]="newPanel.name" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Panel Type</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="panelTypes" [(ngModel)]="selectedPanelType"  filter="true" optionLabel="panelTypeName"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editPanelCP">Panel CP</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editPanelCP" [(ngModel)]="newPanel.panelCP" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editFwVersion">Firmware version</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editFwVersion" [(ngModel)]="newPanel.firmwareVersion" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editTimezone">Timezone</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editTimezone" [(ngModel)]="newPanel.timezone" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editPassword">Password</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editPassword" [(ngModel)]="newPanel.password" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editNetworkId">Network id</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editNetworkId" [(ngModel)]="newPanel.networkId" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editLogPeriod">Log period</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editLogPeriod" [(ngModel)]="newPanel.logPeriod" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editAntipassbackResetInterval">Antipassback reset interval</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editAntipassbackResetInterval" [(ngModel)]="newPanel.antipassBackResetInterval"
               style="width: 100%;"/>
      </div>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="savePanelChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>
