<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Holidays</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [loading]="loading"
                 [(selection)]="selectedHolidays"
                 [value]="holidayList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th style="width: 80px;">
                Details
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th></th>
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')"> <!--col.filterMatchMode-->
              </th>
            </tr>

          </ng-template>


          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->
              <td style="text-align: center">
                <button pButton icon="fa fa-search" (click)="showDialogDetails(rowData)"></button>
              </td>
              <td *ngFor="let col of columns">
                <div
                  *ngIf="col.field == 'from' || col.field == 'to'">{{ rowData[col.field] | date:'M/d/y h:mm:ss a' }} </div>
                <div *ngIf="col.field != 'from' && col.field != 'to'">{{ rowData[col.field] }}</div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedHolidays.length>0">Selected holidays: {{selectedHolidays.length}}</div>
          </ng-template>
        </p-table>

        <div class="buttons-container">
          <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>
          <button class="rps-button" pButton type="button" (click)="showDialogToEdit()"
                  [disabled]="selectedHolidays.length != 1"
                  label="Edit">
          </button>
          <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"
                  [disabled]="selectedHolidays.length<1">
          </button>
          <!-- <div *ngIf="editModeOn">
             <button class="rps-button" pButton type="button" (click)="setEditModeOff()" label="Cancel"></button>
             <button class="rps-button" pButton type="button" (click)="saveHolidaysChanges()" label="Save changes">
             </button>
           </div>-->
        </div>

      </div>

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Add holiday" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="name">Description</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="name" [(ngModel)]="newHoliday.name" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="name">Site</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="groupList" [(ngModel)]="selectedGroup" optionLabel="name"  filter="true"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>From</label>
      </div>
      <div class="ui-g-9">
        <p-calendar [(ngModel)]="newHoliday.from" [showTime]="true" [readonlyInput]="false"
                    appendTo="body"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>To</label>
      </div>
      <div class="ui-g-9">
        <p-calendar [(ngModel)]="newHoliday.to" [showTime]="true" [readonlyInput]="false"
                    appendTo="body"></p-calendar>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Schedules</label>
      </div>
      <div class="ui-g-9">
        <p-multiSelect [options]="schedules" [(ngModel)]="selectedSchedules" optionLabel="scheduleName"
                       [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="selectedSchedules.length>0">
      <div class="ui-g-3">
        <label> Selected schedules</label>
      </div>
      <div class="ui-g-9">
        <ng-template ngFor let-item [ngForOf]="selectedSchedules" let-i="index">
          {{item.scheduleName}} ;
        </ng-template>
      </div>
    </div>

  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="addHoliday()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>


<p-dialog header="Delete holidays" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected holidays?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteHolidays()" label="Delete"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Edit holiday" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="nameEdit">Description</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="nameEdit" [(ngModel)]="newHoliday.name" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Site</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="groupList" [(ngModel)]="selectedGroup" optionLabel="name"  filter="true"
        ></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>From</label>
      </div>
      <div class="ui-g-9">
        <p-calendar [(ngModel)]="newHoliday.from" [showTime]="true" [readonlyInput]="false"
                    appendTo="body"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>To</label>
      </div>
      <div class="ui-g-9">
        <p-calendar [(ngModel)]="newHoliday.to" [showTime]="true" [readonlyInput]="false"
                    appendTo="body"></p-calendar>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Schedules</label>
      </div>
      <div class="ui-g-9">
        <p-multiSelect [options]="schedules" [(ngModel)]="selectedSchedules" optionLabel="scheduleName"
                       [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="selectedSchedules.length>0">
      <div class="ui-g-3">
        <label> Selected schedules</label>
      </div>
      <div class="ui-g-9">
        <ng-template ngFor let-item [ngForOf]="selectedSchedules" let-i="index">
          {{item.scheduleName}} ;
        </ng-template>
      </div>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="saveHolidaysChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>


<p-dialog header="Holiday Details" [(visible)]="displayDetailsDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '800px'}">
  <div class="ui-g">

    <div class="ui-g-12">
      <div class="ui-g-3">
        <p for="descr" class="textNoMargin">Description</p>
      </div>
      <div class="ui-g-9">
        <p id="descr" class="textNoMargin" style="width: 100%;font-weight: bold">{{newHoliday.name}}</p>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <p class="textNoMargin">Site</p>
      </div>
      <div class="ui-g-9">
        <p id="site" class="textNoMargin" style="width: 100%;font-weight: bold">{{newHoliday.site}}</p>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <p class="textNoMargin">From</p>
      </div>
      <div class="ui-g-9">
        <p id="fr" class="textNoMargin"
           style="width: 100%;font-weight: bold">{{newHoliday.from | date:'M/d/y h:mm:ss a' }}</p>
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-3">
        <p class="textNoMargin">To</p>
      </div>
      <div class="ui-g-9">
        <p id="to" class="textNoMargin"
           style="width: 100%;font-weight: bold">{{newHoliday.to | date:'M/d/y h:mm:ss a' }}</p>
      </div>
    </div>
  </div>

  <div class="ui-g" style="margin-top:20px;">
    <p class="textNoMargin" style="font-weight: bold;">Schedules using</p>
  </div>

  <div class="ui-g">

    <p-table #dt [resizableColumns]="true" [columns]="schedulesCols" responsive="true"
             [value]="holidaySchedules" [paginator]="true" [rows]="10">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
            <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                        ariaLabelDesc="Activate to sort in descending order"
                        ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
          </th>
        </tr>
      </ng-template>


      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            <div>{{ rowData[col.field] }}</div>
          </td>
        </tr>
      </ng-template>

    </p-table>

  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-12 dialog-button-container">
      <button class="rps-button" type="button" pButton (click)="closeDetailsDialog()" style=" width:200px;"
              label="Back"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>
