<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Schedules</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [loading]="loading"
                 [(selection)]="selectedSchedules"
                 [value]="scheduleList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th style="width: 80px;">
                Details
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th></th>
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')"> <!--col.filterMatchMode-->
              </th>
            </tr>

          </ng-template>


          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
           <!--   <td style="text-align: center">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>-->
              <td style="text-align: center">
                <button pButton icon="fa fa-search" (click)="navigateToDetails(rowData)"></button>
              </td>
              <td *ngFor="let col of columns">
                <div> {{rowData[col.field]}}</div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedSchedules.length>0">Selected schedules: {{selectedSchedules.length}}</div>
          </ng-template>
        </p-table>

<!--        <div class="buttons-container">-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--          &lt;!&ndash;  <button class="rps-button" pButton type="button" (click)="showDialogToEdit()"-->
<!--                    [disabled]="selectedSchedules.length!=1"-->
<!--                    label="Edit">-->
<!--            </button>&ndash;&gt;-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                  [disabled]="selectedSchedules.length<1">-->
<!--          </button>-->

<!--        </div>-->

      </div>

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Add schedule" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '1000px'}" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="name">Schedule name</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="name" [(ngModel)]="newSchedule.scheduleName" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label>Site</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown [options]="groupList"  filter="true" [(ngModel)]="selectedGroup" optionLabel="name"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="selectedGroup != null && selectedGroup != undefined && selectedGroup.objectId != 0">
    <div class="ui-g-3">
      <label>Group</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown [options]="userGroupList"  filter="true" [(ngModel)]="selectedUserGroup" optionLabel="name"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="selectedGroup != null && selectedGroup != undefined && selectedGroup.objectId != 0">
    <div class="ui-g-3">
      <label for="period">Grace period</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="period" [(ngModel)]="newSchedule.gracePeriod" style="width: 100%;"/>
    </div>
  </div>


  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="description">Description</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="description" [(ngModel)]="newSchedule.description" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="description">Holidays</label>
    </div>
    <div class="ui-g-9">
      <p-multiSelect [options]="holidays" [(ngModel)]="selectedHolidays" optionLabel="name"
                     [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="selectedHolidays != undefined && selectedHolidays.length>0">
    <div class="ui-g-3">
      <label> Selected holidays</label>
    </div>
    <div class="ui-g-9">
      <ng-template ngFor let-item [ngForOf]="selectedHolidays" let-i="index">
        {{item.name}} ;
      </ng-template>
    </div>
  </div>


  <div class="ui-g-12" style="text-align: center;margin:auto">
    <div class="ui-g-3">
      <p-dropdown [options]="weekDays"  filter="true" [(ngModel)]="selectedWeekDay" optionLabel="dayName"></p-dropdown>
    </div>

    <div class="ui-g-2">
      <p-inputMask mask="99:99" [(ngModel)]="scheduleData.start" placeholder="99:99" slotChar="HH:mm"></p-inputMask>
    </div>

    <div class="ui-g-2">
      <p-dropdown [options]="ampm" [(ngModel)]="startAMPM" optionLabel="label"></p-dropdown>
    </div>

    <div class="ui-g-2">
      <p-inputMask mask="99:99" [(ngModel)]="scheduleData.stop" placeholder="99:99" slotChar="HH:mm"></p-inputMask>
    </div>

    <div class="ui-g-2">
      <p-dropdown [options]="ampm" [(ngModel)]="stopAMPM" optionLabel="label"></p-dropdown>
    </div>

    <div class="ui-g-1">
      <button class="rps-button" pButton type="button" label="+" (click)="addScheduleDataToList()"
              [disabled]="scheduleData.start == null || scheduleData.stop == null"></button>
    </div>

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip *ngFor="let scheduleD of scheduleDataList" [selectable]="selectable" disableRipple
                  [removable]="removable" (removed)="remove(scheduleD)">
          {{scheduleD.dayName}} - {{scheduleD.start}} : {{scheduleD.stop}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>

    </mat-form-field>

  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="addSchedule()" label="Save"></button>
    </div>
  </div>

</p-dialog>


<p-dialog header="Delete schedules" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all selected schedules?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button" pButton (click)="deleteSchedules()" label="Delete"></button>
    </div>
  </div>

</p-dialog>
