/* Common */
/* Layout */
/* Topbar */
/******************************/
/*           THEME            */
/******************************/
/* Add your variable customizations of layout here */
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Light"), local("Roboto-Light"), url("../fonts/roboto-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-300.woff2") format("woff2"), url("../fonts/roboto-v15-latin-300.woff") format("woff"), url("../fonts/roboto-v15-latin-300.ttf") format("truetype"), url("../fonts/roboto-v15-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Roboto"), local("Roboto-Regular"), url("../fonts/roboto-v15-latin-regular.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-regular.woff2") format("woff2"), url("../fonts/roboto-v15-latin-regular.woff") format("woff"), url("../fonts/roboto-v15-latin-regular.ttf") format("truetype"), url("../fonts/roboto-v15-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../fonts/roboto-v15-latin-700.eot#iefix") format("embedded-opentype"), url("../fonts/roboto-v15-latin-700.woff2") format("woff2"), url("../fonts/roboto-v15-latin-700.woff") format("woff"), url("../fonts/roboto-v15-latin-700.ttf") format("truetype"), url("../fonts/roboto-v15-latin-700.svg#Roboto") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/MaterialIcons-Regular.eot");
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url("../fonts/MaterialIcons-Regular.woff2") format("woff2"), url("../fonts/MaterialIcons-Regular.woff") format("woff"), url("../fonts/MaterialIcons-Regular.ttf") format("truetype");
}
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

*[hidden] {
  display: none;
}

.card {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #ffffff;
  padding: 1em;
  margin-bottom: 1em;
  box-sizing: border-box;
}
.card.card-w-title {
  padding-bottom: 2em;
}
.card h1 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 1em 0;
}
.card h1:first-child {
  margin-top: 0.667em;
}
.card h2 {
  font-size: 1.375em;
  font-weight: 400;
}
.card h3 {
  font-size: 1.25em;
  font-weight: 400;
}
.card h4 {
  font-size: 1.125em;
  font-weight: 400;
}

.nopad {
  padding: 0;
}
.nopad .ui-panel-content {
  padding: 0;
}

@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@-webkit-keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.ui-icon-spin {
  -webkit-animation-name: spin;
  animation-name: spin;
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}

.ui-shadow-1 {
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.ui-shadow-2 {
  -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-3 {
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.ui-shadow-4 {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.ui-shadow-5 {
  -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.ui-shadow-content {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  border: 0 none !important;
}

.ui-g {
  -ms-flex-wrap: wrap;
}
.ui-g.form-group > div {
  padding: 1em;
}
.ui-g.form-group-m > div {
  padding: 1em;
}

/* Ripple Effect Style like Google Material Buttons Effect*/
.ripplelink {
  /* display:block; */
  /*color:#fff;*/
  text-decoration: none;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  z-index: 0;
}

.ripplelink:hover {
  /*z-index:1000;*/
}

.ink {
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}

.ripple-animate {
  -webkit-animation: ripple 0.65s linear;
  -moz-animation: ripple 0.65s linear;
  -ms-animation: ripple 0.65s linear;
  -o-animation: ripple 0.65s linear;
  animation: ripple 0.65s linear;
}

@-webkit-keyframes ripple {
  100% {
    opacity: 0;
    -webkit-transform: scale(2.5);
  }
}
@-moz-keyframes ripple {
  100% {
    opacity: 0;
    -moz-transform: scale(2.5);
  }
}
@-o-keyframes ripple {
  100% {
    opacity: 0;
    -o-transform: scale(2.5);
  }
}
@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
html {
  height: 100%;
}

body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  color: #424242;
  -webkit-font-smoothing: antialiased;
  padding: 0;
  margin: 0;
  min-height: 100%;
}
body.main-body {
  background-color: #fcfbfb;
}
body a {
  text-decoration: none;
}

.layout-wrapper .layout-main {
  margin-left: 65px;
  padding: 70px 6px 0px 6px;
  -moz-transition: margin-left 0.3s;
  -o-transition: margin-left 0.3s;
  -webkit-transition: margin-left 0.3s;
  transition: margin-left 0.3s;
}

@media (min-width: 1025px) {
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    display: block;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-main {
    margin-left: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active.layout-rtl .layout-main {
    margin-left: 0px;
    margin-right: 310px;
  }
  .layout-wrapper.layout-overlay-menu.layout-wrapper-menu-active .layout-main {
    margin-left: 65px;
  }
  .layout-wrapper.layout-overlay-menu.layout-wrapper-menu-active.layout-rtl .layout-main {
    margin-left: 0px;
    margin-right: 65px;
  }
}
@media (max-width: 1024px) {
  .layout-wrapper .topbar #topbar-menu-button {
    display: block;
  }
  .layout-wrapper .topbar .topbar-menu {
    position: absolute;
  /*  top: 60px;*/
    right: 15px;
    width: 250px;
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
    display: none;
    background-color: #f7f7f7;
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    -moz-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  }
  .layout-wrapper .topbar .topbar-menu > li {
    box-sizing: border-box;
    width: 100%;
    margin: 0;
    float: none;
  }
  .layout-wrapper .topbar .topbar-menu > li > a {
    font-size: 14px;
    width: 100%;
    display: block;
    box-sizing: border-box;
    color: #424242;
    padding: 0.625em 1em;
    position: relative;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-icon {
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    font-size: 20px;
  }
  .layout-wrapper .topbar .topbar-menu > li > a:hover {
    background-color: #e3e3e3;
    color: #424242;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-item-name {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .topbar .topbar-menu > li > a .topbar-badge {
    position: absolute;
    right: 10px;
    top: 8px;
    padding: 2px 4px;
    display: block;
    font-size: 12px;
    line-height: 12px;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul {
    display: none;
    list-style-type: none;
    padding: 0 0 0 18px;
    margin: 0;
    position: static;
    top: auto;
    left: auto;
    box-sizing: border-box;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a {
    padding: 0.625em 1em;
    display: block;
    width: 100%;
    box-sizing: border-box;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a span, .layout-wrapper .topbar .topbar-menu > li > ul li a img, .layout-wrapper .topbar .topbar-menu > li > ul li a .fa {
    display: inline-block;
    vertical-align: middle;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a img {
    width: 1.28571429em;
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li > ul li a .fa {
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li.active-topmenuitem > ul {
    display: block;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-image img {
    display: inline-block;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-name {
    vertical-align: middle;
    font-size: 14px;
  }
  .layout-wrapper .topbar .topbar-menu > li.profile-item .profile-info .topbar-item-name.profile-role {
    display: none;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input {
    background-image: linear-gradient(to bottom, #689dd8, #689dd8), linear-gradient(to bottom, #b5b5b5, #b5b5b5);
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item {
    text-align: center;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item .fa {
    color: #424242;
    left: 14px;
    width: 20px;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item label {
    color: #a8bac3;
    padding-left: 10px;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input {
    color: #424242;
    border: 0 none;
    width: 90%;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 2px;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input.ui-state-hover {
    border-color: #bdbdbd;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input:focus {
    border-width: 0;
  }
  .layout-wrapper .topbar .topbar-menu > li.search-item input:focus ~ .fa {
    color: #689dd8;
  }
  .layout-wrapper .topbar .topbar-menu.topbar-menu-visible {
    display: block;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 310px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    display: block;
  }
  .layout-wrapper.layout-rtl .topbar #topbar-menu-button {
    float: left;
    margin: 12px 0px 0px 20px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu {
    right: auto;
    left: 15px;
    margin: 0px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li {
    margin: 0px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li > a .topbar-icon {
    margin-right: 0px;
    margin-left: 8px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li > a .topbar-badge {
    left: 10px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li > ul {
    padding: 0px 18px 0px 0px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li.profile-item img {
    margin-right: 0;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li.search-item input {
    padding-left: 0px;
    padding-right: 30px;
  }
  .layout-wrapper.layout-rtl .topbar .topbar-menu > li.search-item .fa {
    left: auto;
    right: 12px;
  }
}
@media (max-width: 640px) {
  .layout-wrapper .topbar .logo {
    width: 40px;
    padding-top: 20px;
  }
  .layout-wrapper .topbar .logo img {
    width: 30px;
    margin-top: -5px;
  }
  .layout-wrapper .layout-sidebar {
    width: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav {
    width: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li a i {
    font-size: 20px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip {
    left: 40px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item .layout-tabmenu-tooltip {
    left: 36px;
  }
  .layout-wrapper .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    left: 40px;
  }
  .layout-wrapper.layout-wrapper-menu-active .layout-sidebar {
    width: 290px;
  }
  .layout-wrapper .layout-main {
    margin-left: 40px;
  }
  .layout-wrapper.layout-rtl .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip {
    left: auto;
    right: 40px;
  }
  .layout-wrapper.layout-rtl .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li .layout-tabmenu-tooltip .layout-tabmenu-tooltip-arrow {
    left: auto;
    right: 0px;
    border-width: 5px 0px 5px 5px;
    border-left-color: #424242;
  }
  .layout-wrapper.layout-rtl .layout-sidebar .layout-tabmenu .layout-tabmenu-nav li.active-item .layout-tabmenu-tooltip {
    right: 36px;
  }
  .layout-wrapper.layout-rtl .layout-sidebar .layout-tabmenu .layout-tabmenu-contents {
    left: auto;
    right: 40px;
  }
  .layout-wrapper.layout-rtl .layout-main {
    margin-left: 0px;
    margin-right: 40px;
  }
}
.splash-screen {
  background: #1F796D;
  width: 100%;
  height: 100%;
  position: fixed;
}
.splash-screen .splash-loader {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -60px 0 0 -60px;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #0a423b;
  border: 10px solid #0a423b;
}
.splash-screen .splash-loader img {
  width: 100px;
}
.splash-screen .splash-loader:after {
  content: "";
  background: transparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
/* Add your customizations of layout here */

/*# sourceMappingURL=layout-blue-grey.css.map */
