@import "styles/mixins";
@import "styles/variables";
@import "styles/loadingAnimation";

.topbar {
  height: 0px !important;
}

.layout-main {
  padding: 0px 6px !important;
  margin-left: 0px !important;
}

html, body {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  // font-family: 'Roboto', sans-serif;
  background-color: $brivo-site-light-grey;
  font-family: 'Open Sans', sans-serif;
}

.container {
  min-height: 900px;
  width: 90%;
  max-width: $max-container-width;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: auto;

  padding-left: 1%;
  padding-right: 1%;

  .header-image {
    align-self: flex-end;
    margin-right: 2%;
    //margin-top: 1%;
  }

  @media only screen and (max-width: $mobile-screen-width) {
    margin: 0.5%;
  }
}

.page-content {
  // padding: 1% 3%;
  //margin: auto 5%;
  // margin-left: -3.5%;
  min-height: 400px;
  min-width: 400px;
  background: $brivo-site-white;
  @include brivo-blue-border(.2);
}

.rps-button {
  @include grey-border;

  margin-bottom: 2%;
  margin-left: 1%;
  padding: 1% 3%;
  width: 98%;

  background: lighten($brivo-blue, 30%);
  font-size: $paragraph-font-size;
  cursor: pointer;

  &:hover {
    background: $brivo-blue;
    transition: all .25s ease-in-out;
  }

  &:disabled {
    background: darken(#eff4f8, 5%);
    color: $dark-grey;
    cursor: no-drop;
  }

  &:focus {
    outline: 0;
  }
}

.dialog-buttons-container {
  height: 65px;
}

.dialog-button-container {
  height: 100%;
}

.dialog-button {
  height: 100% !important;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  max-width: 600px;
  margin: 1rem auto;
}

.pi.pi-sort {
  font-family: 'primeicons' !important;
}

.pi-sort:before {
  content: "\e915" !important;
}

.button-style {
  border: 1px solid #d4d4d4;
  border-radius: 15px !important;

  margin-bottom: 1%;
  margin-left: 1%;
  padding: 1% 3%;

  background: $brivo-blue;
  background-color: $brivo-blue;
  font-size: $paragraph-font-size;
  cursor: pointer;
}

::ng-deep body .button-style:hover {
  background: $brivo-site-light-grey;
  background-color: $brivo-site-light-grey !important;
  transition: all .25s ease-in-out;
}

::ng-deep .button-style:disabled {
  background: darken(#eff4f8, 5%);
  background-color: darken(#eff4f8, 5%);
  color: $dark-grey;
  cursor: no-drop;
}
