<div class="page-content">

  <div style="margin-bottom: 20px">
    <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Boards of
      panel {{currentPanel?.name}}</h1>

    <div *ngIf="!contentLoaded" class="LoaderBalls">
      <div class="LoaderBalls__item"></div>
      <div class="LoaderBalls__item"></div>
      <div class="LoaderBalls__item"></div>
    </div>

    <div *ngIf="contentLoaded" style="margin-bottom: 20px">
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols"
                 responsive="true" [value]="boards" [paginator]="true" [rows]="10" [loading]="loading"
                 [(selection)]="selectedBoards">

          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->
              <td *ngFor="let col of columns">
                <div>{{ rowData[col.field] }}</div>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedBoards.length>0">Selected boards: {{selectedBoards.length}}</div>
          </ng-template>
        </p-table>
      </div>

<!--      <div class="buttons-container">-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToEdit()" label="Edit"-->
<!--                [disabled]="selectedBoards.length != 1">-->
<!--        </button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                [disabled]="selectedBoards.length < 1">-->
<!--        </button>-->
<!--      </div>-->
    </div>
  </div>
</div>


<p-dialog header="Add board" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          class="dialogAdd"
          [contentStyle]="{'overflow':'visible','minHeight':'700px','maxHeight':'700px'}"
          [style]="{width: '1300px',height:'900px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="boardNumber">Board number</label>
      </div>
      <div class="ui-g-9">
        <!--   <input pInputText id="boardNumber" [(ngModel)]="newBoard.boardNumber" style="width: 100%;"/>-->
        <p-dropdown [options]="availableBoardNumbers" [(ngModel)]="selectedBoardNumber" id="boardNumber"
                    optionLabel="label"
                    *ngIf="availableBoardNumbers.length>0"
        ></p-dropdown>
        <label *ngIf="!(availableBoardNumbers.length>0)">Cannot add board to control panel - this panel is full.</label>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Board Type</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="boardTypes" [(ngModel)]="selectedBoardType" optionLabel="boardType"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="boardLocation">Board location</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="boardLocation" [(ngModel)]="newBoard.boardLocation" style="width: 100%;"/>
      </div>
    </div>
    <div class="ui-g-12"
         *ngIf="selectedBoardType!==undefined && availableBoardNumbers.length>0 && displayAddDialog">
      <div class="ui-g-12" *ngIf="selectedBoardType.boardTypeId === BoardTypesEnum.DOOR_BOARD ||
         selectedBoardType.boardTypeId === BoardTypesEnum.ACS300_BOARD ||
         selectedBoardType.boardTypeId === BoardTypesEnum.ACS6000_BOARD">
        <app-edit-door-board [panelOid]="panelOid" [boardTypeId]="selectedBoardType.boardTypeId"
                             [newBoard]="addBoardFlag" [boardNumber]="selectedBoardNumber.value"></app-edit-door-board>
      </div>
      <div class="ui-g-12" *ngIf="selectedBoardType.boardTypeId === BoardTypesEnum.IO_BOARD">
        <app-edit-io-board [panelOid]="panelOid" [boardTypeId]="selectedBoardType.boardTypeId"
                           [newBoard]="addBoardFlag" [boardNumber]="selectedBoardNumber.value"></app-edit-io-board>
      </div>
    </div>
    <!-- <p-footer>-->
    <div class="ui-g-12 dialog-buttons-container">
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
                label="Back"></button>
      </div>
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="addBoard()"
                [disabled]="!(availableBoardNumbers.length>0)"
                label="Save"></button>
      </div>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>

<p-dialog header="Edit board" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible','minHeight':'700px','maxHeight':'700px'}" class="dialogEdit"
          [style]="{width: '1300px',height:'900px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editBoardNumber">Board number</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editBoardNumber" disabled="true" [(ngModel)]="newBoard.boardNumber" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label>Board Type</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [options]="boardTypes" [(ngModel)]="selectedBoardType" optionLabel="boardType"
                    disabled="true"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="editBoardLocation">Board location</label>
      </div>
      <div class="ui-g-9">
        <input pInputText id="editBoardLocation" [(ngModel)]="newBoard.boardLocation" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12"
         *ngIf="selectedBoardType!==undefined && displayEditDialog">
      <div class="ui-g-12" *ngIf="selectedBoardType.boardTypeId === BoardTypesEnum.DOOR_BOARD ||
         selectedBoardType.boardTypeId === BoardTypesEnum.ACS300_BOARD ||
         selectedBoardType.boardTypeId === BoardTypesEnum.ACS6000_BOARD">
        <app-edit-door-board [panelOid]="panelOid" [boardTypeId]="selectedBoardType.boardTypeId"
                             [newBoard]="editBoardFlag" [boardNumber]="newBoard.boardNumber"></app-edit-door-board>
      </div>
      <div class="ui-g-12" *ngIf="selectedBoardType.boardTypeId === BoardTypesEnum.IO_BOARD">
        <app-edit-io-board [panelOid]="panelOid" [boardTypeId]="selectedBoardType.boardTypeId"
                           [newBoard]="editBoardFlag" [boardNumber]="newBoard.boardNumber"></app-edit-io-board>
      </div>
    </div>

    <!-- <p-footer>-->
    <div class="ui-g-12 dialog-buttons-container">
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
                label="Back"></button>
      </div>
      <div class="ui-g-6 dialog-button-container">
        <button class="rps-button dialog-button" type="button" pButton (click)="saveBoardChanges()"
                label="Save"></button>
      </div>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>


<p-dialog header="Delete boards" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected boards?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteBoards()" label="Delete"></button>
    </div>
  </div>
</p-dialog>
