<!--<div class="page-content">

  <div class="page-sections">

    <div class="existing-clouds">
      <p class="title">Uploaded JSON files</p>

      <div class="clouds-container">
        <div *ngFor="let account of uploadedJSONFiles">
          <div class="cloud" [ngClass]="{ 'active': accountIsSelected(account)}" (click)="setActive(account)">
            {{ account.accountName }}
          </div>
        </div>
      </div>

      <div class="buttons-container">
        <div>
          <button class="rps-button" [disabled]="selectedAccount == undefined"
                  (click)="loadAndStartUsingSelectedCloud()">Use the selected JSON file
          </button>
          <button class="rps-button" [disabled]="selectedAccount == undefined" (click)="deleteSelectedCloud()">Delete
            the selected JSON file
          </button>
          <button class="rps-button" [disabled]="selectedAccount == undefined" (click)="downloadSelectedConfig()">
            Download the selected JSON file
          </button>
        </div>

        <div *ngIf="displayProgress">
          <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
        </div>
        <div class="current-action" *ngIf="currentAction">
          <div *ngIf="!displayProgress && !loadingError"
               style="color:#3f5e7f;font-weight: bold;">{{ currentAction }}
          </div>
          <div *ngIf="displayProgress && !loadingError" style="color:black;font-weight: bold;">{{ currentAction }}</div>
          <div *ngIf="loadingError" style="color:red;font-weight: bold;">{{ currentAction }}</div>
        </div>
      </div>


      <div class="buttons-container">
        <div>
          <p class="title">Upload JSON file</p>
        </div>

        <div class="form-container">
          <form-upload uploadType="account" (loadAccountsEvent)="refreshUploadedJSONFiles()"></form-upload>
        </div>
      </div>

    </div>

    <div class="create-new-cloud">

      <div class=" ui-g-12" style="padding:0px">
        <p class="title">Current account</p>
      </div>

      <div class="buttons-container">
        <div class="current-account" *ngIf="currentDatabaseAccount">{{ currentDatabaseAccount.name }}</div>
        <div class="ui-g">
          <div class="ui-g-6">
            <button class="rps-button" (click)="exportCurrentDatabaseAccount()">Export current database account</button>
          </div>
          <div class="ui-g-6">
            <button class="rps-button" [disabled]="currentDatabaseAccount == undefined" (click)="goToDashboard()">
              Display
              current account
            </button>
          </div>
        </div>
        <div class="current-action" *ngIf="currentActionCurrentAccount">{{ currentActionCurrentAccount }}</div>
      </div>


      <div>
        <p class="title">Download account from {{ databaseConnection?.name }}</p>
      </div>

      <div class="form-container">
        <account-download></account-download>
      </div>
    </div>
  </div>
</div>-->


<div class="margin-style homepage-container">
  <div class="ui-g ">

    <div class="ui-g-12">
      <div class="ui-g-12  margin-style">
        <div class="ui-g-4">
          <img src="assets/images/marty-small.png" align="right"/>
        </div>

        <div class="ui-g-8">
          <div style="padding:20px;align:left">
            <p class="title inline-display">Current account: </p>
            <p class="current-account inline-display"
               *ngIf="currentDatabaseAccount">{{ currentDatabaseAccount.name}}</p>
            <p class="current-account inline-display" *ngIf="!currentDatabaseAccount"> no account was imported. Import
              or
              use an existing one!</p>
          </div>


          <div *ngIf="currentDatabaseAccount" style="align:left">
            <button type="button" label="Export current database account" icon="pi pi-download" pButton=""
                    class="button-style"
                    (click)="exportCurrentDatabaseAccount()">
            </button>
            <button pButton type="button" label="Display current account" (click)="goToDashboard()" icon="pi pi-search"
                    class="button-style cyan-btn  ui-button-rounded">

            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="ui-g-12">

      <div class="ui-g-6">
        <div style="padding:20px;background:#dde8f0" class="margin-style">
          <p class="title">Uploaded JSON files</p>

          <div class="clouds-container" style="background:white">
            <div *ngFor="let account of uploadedJSONFiles">
              <div class="cloud" [ngClass]="{ 'active': accountIsSelected(account)}" (click)="setActive(account)">
                {{ account.accountName }}
              </div>
            </div>
          </div>

          <div class="buttons-container" style="margin-top:1%">
            <div>
              <button [disabled]="selectedAccount == undefined" pButton type="button" class="button-style"
                      icon="pi pi-cloud-upload"
                      (click)="loadAndStartUsingSelectedCloud()" label="Use JSON file">
              </button>
              <button [disabled]="selectedAccount == undefined" (click)="deleteSelectedCloud()" pButton type="button"
                      icon="pi pi-trash"
                      class="button-style" label="Delete JSON file">
              </button>
              <button [disabled]="selectedAccount == undefined" (click)="downloadSelectedConfig()" pButton type="button"
                      icon="pi pi-download"
                      class="button-style" label="Download JSON file"></button>

              <p-fileUpload #fileUpload mode="basic" name="demo[]" customUpload="true" [auto]="true" [multiple]="false"
                            label="Upload & Use JSON file" chooseLabel="Upload & Use JSON file"
                            accept="application/json"
                            (uploadHandler)="onUpload($event,fileUpload)"></p-fileUpload>
            </div>

            <div *ngIf="displayProgress">
              <p-progressBar mode="indeterminate" [style]="{'height': '10px'}"></p-progressBar>
            </div>
            <div class="current-action" *ngIf="currentAction">
              <div *ngIf="!displayProgress && !loadingError"
                   style="color:#3f5e7f;font-weight: bold;">{{ currentAction }}
              </div>
              <div *ngIf="displayProgress && !loadingError" style="color:black;font-weight: bold;">{{ currentAction }}
              </div>
              <div *ngIf="loadingError" style="color:red;font-weight: bold;">{{ currentAction }}</div>
            </div>

          </div>
        </div>
      </div>

      <div class="ui-g-6">
        <div style="padding:20px;background:#dde8f0" class="margin-style">
          <p class="title">Download account from BRIVO-INTEGRATION</p>
          <div class="form-container">
            <account-download></account-download>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>