@import "../../../../styles/mixins";
@import "../../../../styles/variables";

p {
  font-size: $medium-paragraph-font-size;
}

.page-sections {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .existing-clouds {
    flex: 0 0 48%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    // margin-top: 2%;
    padding: 1%;

    // @include brivo-blue-border(.5);

    .clouds-container {
      @include light-grey-border;
      padding: 2%;
      margin: 0.5%;
      overflow-y: scroll;
      height: 200px;

      .cloud {
        margin-bottom: 0.5%;
        font-size: $medium-paragraph-font-size - 3px;
        cursor: pointer;
        font-weight: 300;
      }

      .active {
        //color: $brivo-site-green;
        color: white;
        background-color: $brivo-site-blue;
        font-weight: 400;
      }
    }

    .buttons-container {
      @include light-grey-border;
      padding: 3% 1%;
      // margin: 5% 0.5% auto;

      min-height: 100px;
    }

    .current-action {
      text-align: center;
      margin-top: 7%;
      font-size: $paragraph-font-size;
      color: $dark-grey;
    }
  }

  .create-new-cloud {
    // margin-top: 2%;
    padding: 1%;
    flex: 0 0 48%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;

    // @include brivo-blue-border(.5);

    .form-container {
      @include light-grey-border;
    }

    .buttons-container {
      @include light-grey-border;
      padding: 3% 1%;
      //margin: 0% 0.5% 10% 0.5%;

      min-height: 100px;
    }
  }

}

.title {
  font-size: $small-title-font-size;
  font-weight: 400;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 3%;
  letter-spacing: 0.5px;
}

.current-account {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  margin-top: 2%;
  margin-left: 1%;
  margin-bottom: 3%;
  color: $theme-dark-grey;

  .current-action {
    text-align: center;
    margin-top: 7%;
    font-size: $paragraph-font-size;
    color: $dark-grey;
  }
}

.current-action {
  text-align: center;
  margin-top: 2%;
  font-size: $paragraph-font-size;
  color: $dark-grey;
}

::ng-deep body .ui-progressbar .ui-progressbar-value {
  height: unset;
}

::ng-deep body .ui-progressbar {
  // background-color: #ff0032;
  background-color: $light-grey;
}

::ng-deep body .ui-progressbar-value-animate {
  background-color: $brivo-site-green;
}

.margin-style {
  border: 1px solid #dddddd;
}

.homepage-container {
  background: white;
}

.inline-display {
  display: inline;
}

.clouds-container {
  @include light-grey-border;
  padding: 2%;
  margin: 0.5%;
  overflow-y: scroll;
  height: 200px;

  .cloud {
    margin-bottom: 0.5%;
    font-size: $medium-paragraph-font-size - 3px;
    cursor: pointer;
    font-weight: 300;
  }

  .active {
    //color: $brivo-site-green;
    color: white;
    background-color: $brivo-site-blue;
    font-weight: 400;
  }
}

::ng-deep body .ui-fileupload-choose {
  top: 10px !important;
  border-radius: 15px !important;
  margin-left: 10px !important;
}

::ng-deep body .ui-fileupload-choose:not(.ui-state-disabled):hover.ui-button, body .ui-fileupload-choose.ui-state-focus.ui-button {
  background-color: #689dd8 !important;
}

::ng-deep body .ui-fileupload-choose:not(.ui-state-disabled):active.ui-button {
  background-color: #689dd8 !important;
}