<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Groups</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [loading]="loading"
                 [(selection)]="selectedGroups"
                 [value]="groupsList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)">
              </th>
            </tr>


          </ng-template>


          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>

<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->

              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedGroups.length>0">Selected groups: {{selectedGroups.length}}</div>
          </ng-template>
        </p-table>

<!--        <div class="buttons-container">-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToEdit()" label="Edit"-->
<!--                  [disabled]="selectedGroups.length!=1">-->
<!--          </button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                  [disabled]="selectedGroups.length<1">-->
<!--          </button>-->
<!--        </div>-->

      </div>

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Add group" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '650px'}" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="name">Group name</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="name" [(ngModel)]="newGroup.name" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label>Description</label>
    </div>
    <div class="ui-g-9">
      <input pInputText id="description" [(ngModel)]="newGroup.description" style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="addGroup()" label="Save"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Delete groups" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all selected groups?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteGroups()" label="Delete"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Edit group" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '1000px'}"
          class="dialogEdit"
          [contentStyle]="{'overflow':'visible','minHeight':'850px','maxHeight':'850px'}">
  <div>

    <div class="ui-g-12">
      <div class="ui-g-2">
        <label style="width: 100%;font-weight: bold" for="nameEdit">Group name</label>
      </div>
      <div class="ui-g-10">
        <input pInputText id="nameEdit" [(ngModel)]="newGroup.name" style="width: 100%;"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-1">
        <p-checkbox id="keypadUnlockHoldPrivileges" [(ngModel)]="newGroup.keypadUnlockHoldPrivileges"
                    binary="true"></p-checkbox>
      </div>
      <div class="ui-g-11">
        <label for="keypadUnlockHoldPrivileges" style="width: 100%;font-weight: bold">Keypad Unlock-Hold
          Privileges</label>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-1">
        <p-checkbox id="immuneToAntipassback" [(ngModel)]="selectedGroupAntipassbackImmunity"
                    binary="true"></p-checkbox>
      </div>
      <div class="ui-g-11">
        <label for="immuneToAntipassback" style="width: 100%;font-weight: bold">Immune to Antipassback</label>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-3">
        <label style="width: 100%;font-weight: bold">Antipassback reset time</label>
      </div>
      <div class="ui-g-3">
        <p-dropdown [options]="hours" [(ngModel)]="selectedHour" optionLabel="label"></p-dropdown>
      </div>
      <div class="ui-g-3">
        <p-dropdown [options]="minutes" [(ngModel)]="selectedMinute" optionLabel="label"></p-dropdown>
      </div>
      <div class="ui-g-3">
        <p-dropdown [options]="ampmOptions" [(ngModel)]="selectedAMPM" optionLabel="label"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-2">
        <label style="width: 100%;font-weight: bold">Site</label>
      </div>
      <div class="ui-g-10">
        <p-dropdown [options]="availableSites" [(ngModel)]="selectedSite" optionLabel="siteName"
                    (onChange)="updateGroupPermissions()"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <p-table #dt [resizableColumns]="true" [columns]="permissionCols" responsive="true" [loading]="loading"
               [value]="groupPermissions" [paginator]="true" [rows]="10">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelDesc="Activate to sort in descending order"
                          ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>


        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>
            <td *ngFor="let col of columns">
              <div
                *ngIf="col.field == 'selectedSchedule'">
                <p-dropdown appendTo="body" [options]="rowData['availableSchedules']" [(ngModel)]="rowData[col.field]"
                            optionLabel="scheduleName" [style]="{'width':'100%'}"></p-dropdown>
              </div>
              <div *ngIf="col.field != 'selectedSchedule'">{{ rowData[col.field] }}</div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>

  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="saveGroupChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>
