<div class="page-content">
  <div *ngFor="let doc of docList">
    <div class="element">
      <i class="material-icons icon" (click)="downloadSelectedConfig(doc.fileName)">
        cloud_download
      </i>
      <span class="text">{{ doc.fileName }}</span>
    </div>
  </div>
</div>
