@import "../../../../styles/variables";

.page-content {

  //width: fit-content;

  .page-title {
    text-align: center;
  }

  .LoaderBalls {
    margin: 10% auto;
  }

  .page-summary {
    display: grid;
    width: 70vw;
    grid-template-columns: 25% 20% 25% 20%;
    margin: 5% auto;

    .account-summary-wrapper {

      margin: 2%;

      .summary-subtitle {
        text-align: center;
        margin: 2%;
        font-size: 1em;
        font-weight: bold;
      }

      .summary-bubble {
        width: 100px;
        height: 100px;
        line-height: 100px;
        cursor: pointer;

        border: 2px solid black;
        border-radius: 50%;

        margin-left: auto;
        margin-right: auto;

        font-size: 2em;
        text-align: center;
      }
    }

  }

  .buttons-container {

    .rps-button {
      display: inline-block;
      width: fit-content;
    }

  }

}