<div class="page-content">
  <h2 class="page-title">{{this.accountSummary?.accountName}}</h2>

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded">

    <div class="page-summary">
      <div (click)="onBubbleClick(item)" *ngFor="let item of accountDetails" class="account-summary-wrapper">
        <div class="summary-bubble">
          {{item.value}}
        </div>
        <div class="summary-subtitle">
          {{item.type}}
        </div>
      </div>
    </div>

  </div>


</div>
