<div *ngIf="eventTrackForm" style="width: 100%">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="eventTypes" style="width: 100%;font-weight: bold">Event</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="eventTypes" [options]="eventTypes" [(ngModel)]="selectedEventType"
                  optionLabel="label" (onChange)="eventTypeSelectionChanged()"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="doorsOfSelectedPanel != undefined && doorsOfSelectedPanel.length > 0">
    <div class="ui-g-3">
      <label for="doors" style="width: 100%;font-weight: bold">Door</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="doors" [options]="doorsOfSelectedPanel" [(ngModel)]="selectedDoor"
                  optionLabel="name"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="doorsOfSelectedPanel == undefined || doorsOfSelectedPanel.length == 0">
    <label style="width: 100%;font-weight: bold;color:#ff0000">There are no doors - please create doors prior to creating event
      tracks.</label>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="outputs" style="width: 100%;font-weight: bold">Physical Ouputs</label>
    </div>
    <div class="ui-g-9">
      <p-multiSelect id="outputs" [options]="eventTrackForm.availableOutputs" [(ngModel)]="eventTrackForm.outputs"
                     optionLabel="description"></p-multiSelect>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="behavior" style="width: 100%;font-weight: bold">Output Behavior</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="behavior" [options]="outputBehaviors" [(ngModel)]="selectedOutputBehavior"
                  optionLabel="label" (onChange)="outputBehaviorSelectionChanged()"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="disengageDelay" style="width: 100%;font-weight: bold">{{outputBehaviorDurationLabel}}</label>
    </div>
    <div class="ui-g-9">
      <input id="disengageDelay" [(ngModel)]="eventTrackForm.disengageDelay" pInputText style="width: 100%;"
             [disabled]="disengageDelayDisabled"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="schedules" style="width: 100%;font-weight: bold">Schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="schedules" [options]="scheduleList" [(ngModel)]="selectedSchedule"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="reportEngage" style="width: 100%;font-weight: bold">Report Engage</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="reportEngage" [(ngModel)]="eventTrackForm.reportEngage" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="disengageMessageDisplayed">
    <div class="ui-g-3">
      <label for="reportDisengage" style="width: 100%;font-weight: bold">Report Disengage</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="reportDisengage" [(ngModel)]="eventTrackForm.reportDisengage" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="engageMessage" style="width: 100%;font-weight: bold">Engage message</label>
    </div>
    <div class="ui-g-9">
      <input id="engageMessage" [(ngModel)]="eventTrackForm.engageMessage" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="disengageMessageDisplayed">
    <div class="ui-g-3">
      <label for="disengageMessage" style="width: 100%;font-weight: bold">Disengage message</label>
    </div>
    <div class="ui-g-9">
      <input id="disengageMessage" [(ngModel)]="eventTrackForm.disengageMessage" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="disengageMessageDisplayed == false">
    <label style="width: 100%;font-weight: bold">The Disengage Message is only valid if Event = Door Ajar and Output
      Behavior = Follow</label>
  </div>

</div>