<!--
<div *ngIf="currentFileUpload" class="progress">
<div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
     aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
  {{progress.percentage}}%</div>
</div>
-->

<div class="top-space">
  <app-alert></app-alert>
  <input id="file" class="input" type="file" (change)="selectFile($event)">
  <label for="file">Choose a file</label>
  <span class="selected-file" *ngIf="selectedFileName">{{selectedFileName}}</span>

  <div class="button-wrapper">
    <button class="rps-button" [disabled]="!selectedFiles" (click)="uploadFileForUploadType()">
      Upload the selected file
    </button>

    <div class="upload-message">
      <p *ngIf="uploaded">{{uploadedMessage}}</p>
    </div>
  </div>
</div>
