@import "../../../../styles/mixins";
@import "../../../../styles/variables";

.top-space {
  margin-top: 5%;
}

.upload-label {
  margin-left: 1%;
  margin-top: 2%;
  padding: 2% 2%;

  font-size: $paragraph-font-size;
  border: 1px solid $light-grey;
  border-radius: 5px;
}

.button-wrapper {
  margin-top: 3%;
  // height: 90px;

  .upload-message {
    margin-left: 10%;
    margin-top: 1%;

    font-size: $paragraph-font-size;
    color: $dark-grey;
  }
}

.input {
  width: 0;
  height: 0;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input + label {
  color: $dark-grey;
  background-color: white;
  display: inline-block;
  margin-left: 1%;
  padding: 1% 2%;
  font-size: $small-text-font-size;

  @include grey-border;
}

.input:focus + label,
.input + label:hover {
  background-color: $light-grey;
  cursor: pointer;
}

.selected-file {
  font-size: $paragraph-font-size;
  color: $dark-grey;
  margin-left: 3%;
}