<div *ngIf="ioBoardForm" style="width: 100%">

  <p>Door Node 1</p>

  <div class="ui-g">
    <div class="ui-g-3 table-row "> I/O Points
    </div>
    <div class="ui-g-3 table-row "> Label
    </div>
    <div class="ui-g-3 table-row "> EOL supervision
    </div>
    <div class="ui-g-3 table-row "> Normal state
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 1
    </div>

    <div class="ui-g-3 table-row" id="label">
      <input pInputText [(ngModel)]="ioBoardForm.input1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input1.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input1.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput1StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input2.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input2.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput2StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 3
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input3.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input3.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input3.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput3StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 4
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input4.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input4.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input4.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput4StateOption"></p-dropdown>

    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 5
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input5.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input5.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input5.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput5StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 6
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input6.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input6.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input6.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput6StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 7
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input7.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input7.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input7.eol"></p-radioButton>
    </div>


    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput7StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      INPUT 8
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.input8.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="ioBoardForm.input8.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="ioBoardForm.input8.eol"></p-radioButton>
    </div>


    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedInput8StateOption"></p-dropdown>
    </div>

  </div>


  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 1
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput1StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput2StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 3
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output3.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput3StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 4
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output4.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput4StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 5
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output5.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput5StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 6
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output6.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput6StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 7
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output7.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput7StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      OUTPUT 8
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="ioBoardForm.output8.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="ioBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedOutput8StateOption"></p-dropdown>
      <p *ngIf="!ioBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>
</div>