<div *ngIf="doorBoardForm" style="width: 100%">

  <p>Door Node 1</p>

  <div class="ui-g">
    <div class="ui-g-3 table-row "> I/O Points
    </div>
    <div class="ui-g-3 table-row "> Label
    </div>
    <div class="ui-g-3 table-row "> EOL supervision
    </div>
    <div class="ui-g-3 table-row "> Normal state
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - REX
    </div>

    <div class="ui-g-3 table-row" id="label">
      <input pInputText [(ngModel)]="doorBoardForm.door1Rex.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door1Rex.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door1Rex.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor1RexStateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - DOOR CONTACT
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1DoorContact.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door1DoorContact.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door1DoorContact.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor1DoorContactStateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - DOOR LOCK RELAY
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1DoorLock.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor1DoorLockStateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - AUX RELAY 1
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1AuxRelay1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor1AuxRelay1StateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - AUX INPUT 1
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1AuxInput1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door1AuxInput1.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door1AuxInput1.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor1AuxInput1StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - AUX INPUT 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1AuxInput2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door1AuxInput2.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door1AuxInput2.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor1AuxInput2StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - AUX RELAY 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1AuxRelay2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor1AuxRelay2StateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 1 - READER
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door1Reader.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
    </div>

  </div>


  <p>Door Node 2</p>

  <div class="ui-g">
    <div class="ui-g-3 table-row "> I/O Points
    </div>
    <div class="ui-g-3 table-row "> Label
    </div>
    <div class="ui-g-3 table-row "> EOL supervision
    </div>
    <div class="ui-g-3 table-row "> Normal state
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - REX
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2Rex.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door2Rex.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door2Rex.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor2RexStateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - DOOR CONTACT
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2DoorContact.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door2DoorContact.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door2DoorContact.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor2DoorContactStateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - DOOR LOCK RELAY
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2DoorLock.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor2DoorLockStateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - AUX RELAY 1
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2AuxRelay1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor2AuxRelay1StateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - AUX INPUT 1
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2AuxInput1.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door2AuxInput1.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door2AuxInput1.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor2AuxInput1StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - AUX INPUT 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2AuxInput2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
      <p-radioButton label="Yes" [value]="1" [(ngModel)]="doorBoardForm.door2AuxInput2.eol"></p-radioButton>
      <p-radioButton label="No" [value]="0" [(ngModel)]="doorBoardForm.door2AuxInput2.eol"></p-radioButton>
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormallyClosedOpen" optionLabel="label"
                  [(ngModel)]="selectedDoor2AuxInput2StateOption"></p-dropdown>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - AUX RELAY 2
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2AuxRelay2.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
      <p-dropdown [options]="stateOptionsNormalEnergized" optionLabel="label" *ngIf="doorBoardForm.failSafeStateAllowed"
                  [(ngModel)]="selectedDoor2AuxRelay2StateOption"></p-dropdown>
      <p *ngIf="!doorBoardForm.failSafeStateAllowed">Normal</p>
    </div>

  </div>

  <div class="ui-g">
    <div class="ui-g-3 table-row">
      DOOR 2 - READER
    </div>

    <div class="ui-g-3 table-row">
      <input pInputText [(ngModel)]="doorBoardForm.door2Reader.defaultLabel">
    </div>

    <div class="ui-g-3 table-row">
    </div>

    <div class="ui-g-3 table-row">
    </div>

  </div>
</div>