<div style="width:95%;margin:auto">
  <div class="ui-g">
    <div class="ui-g-6" style="padding:0">
      <a href="https://www.brivo.com/" target="_blank">
        <img style="height: 80px;" src="assets/images/brivo-icon@2x.png" alt="image">
      </a>
    </div>
    <div class="ui-g-6" style="padding:0">
      <h2 style="cursor: pointer; float: right; font-size:30px; margin-right: 10px; margin-bottom:0" (click)="goToHome()">Home</h2>
      <!--margin-top: 20px; -->
    </div>
  </div>

  <div class="ui-g">
    <div class="ui-g-12" style="padding:0">
      <app-menu></app-menu>
    </div>
    <div class="ui-g-12" style="padding:0">
      <router-outlet></router-outlet>
      <img style="height: 80px; display:block; margin-right: auto; margin-left: auto; margin-top: 20px;" src="assets/images/zebra.png" alt="image">
    </div>
  </div>
</div>