@import "../../../styles/variables";

h1 {
  font-size: $title-size;
  //color: darkblue;
  margin-top: 1%;
  // margin-bottom: 3%;
  margin-bottom: 0%;
  background-color: $theme-dark-grey;
  color: $brivo-site-white;
  font-weight: 400;
  padding: 0.5% 0%;
  letter-spacing: 1px;
  // min-width: 1200px;
}

h2 {
  font-size: $medium-paragraph-font-size;
  margin-top: 1%;
}

ul {
  margin-top: 0;
}

li {
  margin-bottom: 1%;
}

.page-title {
  text-align: center;
  width: auto;
  // margin-bottom: 5%;

  @media only screen and (max-width: $tablet-screen-width) {
    margin-top: 12%;
    margin-bottom: 7%;
  }

  @media only screen and (max-width: $mobile-screen-width) {
    margin-top: 10%;
    margin-bottom: 5%;
  }
}

.link {
  font-size: $medium-paragraph-font-size;
  margin-bottom: 1%;
  text-decoration: none;
}

.pages {
  font-size: $medium-paragraph-font-size;

  display: flex;
  flex-direction: row;

  .menu-item {
    margin-left: 5%;

    &:hover {
      color: lighten(black, 30%);
      transition: 0.25s ease-in-out;
    }
  }
}

.info-icon {
  cursor: pointer;
  //float: right;
  font-size: larger;
}

