<div *ngIf="validCredentialForm" style="width: 100%">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="inputs" style="width: 100%;font-weight: bold">Reader</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="inputs"
                  *ngIf="validCredentialForm.availableReaders != undefined && validCredentialForm.availableReaders.length > 0"
                  [options]="validCredentialForm.availableReaders"
                  [(ngModel)]="validCredentialForm.selectedReader"
                  optionLabel="description"></p-dropdown>

      <label style="width: 100%;font-weight: bold;color:#ff0000"
        *ngIf="validCredentialForm.availableReaders == undefined || validCredentialForm.availableReaders.length == 0">
        There are no usable readers
      </label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="outputs" style="width: 100%;font-weight: bold">Physical Ouputs</label>
    </div>
    <div class="ui-g-9">
      <p-multiSelect id="outputs" [options]="validCredentialForm.availableOutputs"
                     [(ngModel)]="validCredentialForm.outputs"
                     optionLabel="description"></p-multiSelect>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="behavior" style="width: 100%;font-weight: bold">Output Behavior</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="behavior" [options]="outputBehaviors" [(ngModel)]="selectedOutputBehavior"
                  optionLabel="label" (onChange)="outputBehaviorSelectionChanged()"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="disengageDelay" style="width: 100%;font-weight: bold">Duration</label>
    </div>
    <div class="ui-g-9">
      <input id="disengageDelay" [(ngModel)]="validCredentialForm.disengageDelay" pInputText style="width: 100%;"
             [disabled]="disengageDelayDisabled"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="reportEngage" style="width: 100%;font-weight: bold">Report Engage</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="reportEngage" [(ngModel)]="validCredentialForm.reportEngage" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="engageMessage" style="width: 100%;font-weight: bold">Engage message</label>
    </div>
    <div class="ui-g-9">
      <input id="engageMessage" [(ngModel)]="validCredentialForm.engageMessage" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="twoFactorSchedules" style="width: 100%;font-weight: bold">Two Factor Schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="twoFactorSchedules" [options]="scheduleList" [(ngModel)]="selectedTwoFactorSchedule"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="twoFactorInterval" style="width: 100%;font-weight: bold">Two Factor interval</label>
    </div>
    <div class="ui-g-9">
      <input id="twoFactorInterval" [(ngModel)]="validCredentialForm.twoFactorInterval" pInputText
             style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="cardRequiredSchedules" style="width: 100%;font-weight: bold">Card Required Schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="cardRequiredSchedules" [options]="scheduleList" [(ngModel)]="selectedCardRequiredSchedule"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

</div>