<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div class="ui-g" *ngIf="contentLoaded">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i>Credentials</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [loading]="loading"
                 [value]="credentialsList" [paginator]="true" [rows]="10" [(selection)]="selectedCredentials">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')">
                <!--col.filterMatchMode-->
              </th>
            </tr>

          </ng-template>

          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
              <td style="text-align: center">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>

              <td *ngFor="let col of columns">
                <div
                  *ngIf="col.field == 'enableOn' || col.field == 'expires'">{{ rowData[col.field] | date:'M/d/y h:mm:ss a' }} </div>
                <div *ngIf="col.field != 'enableOn' && col.field != 'expires'">{{ rowData[col.field] }}</div>
              </td>

            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedCredentials.length>0">Selected access credentials: {{selectedCredentials.length}}</div>
          </ng-template>
        </p-table>

      </div>
<!--      <div class="buttons-container">-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToEdit()"-->
<!--                [disabled]="selectedCredentials.length != 1" label="Edit"></button>-->
<!--        <button class="rps-button" pButton type="button" (click)="showDialogToDelete()"-->
<!--                [disabled]="selectedCredentials.length<1" label="Delete"></button>-->
<!--      </div>-->

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Add access credential" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div *ngIf="requiredFields" style="    background: yellow;
    text-align: center;">
        <b>Card No</b> and <b>Facily Code</b> are required fields
      </div>
      <div class="ui-g-3">
        <label for="formats">Card format</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown id="formats" [options]="credentialFormatsList" [(ngModel)]="selectedCredentialFormat" filter="true"
                    optionLabel="credentialFormatDescription">
        </p-dropdown>
      </div>
    </div>

    <div *ngIf="selectedCredentialFormat!=undefined && selectedCredentialFormat.credentialFormatId==100">

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="referenceId">Card No</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="cardNoA" [(ngModel)]="newCredential.referenceId" style="width: 100%;"
                 required/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="referenceId">Facility code</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="facilityCodeA" [(ngModel)]="newCredential.facility_code" pKeyFilter="int" required
                 style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Owner</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown [options]="availableUsers" filter="true" [(ngModel)]="selectedOwner"
                      optionLabel="fullName"></p-dropdown>
        </div>
      </div>

    </div>

    <div *ngIf="selectedCredentialFormat!=undefined && selectedCredentialFormat.credentialFormatId!=100">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective Date</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.enableOn" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective To</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.expires" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="referenceId">Card Reference Id</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="referenceId" [(ngModel)]="newCredential.referenceId" pKeyFilter="int"
                 style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="credential">Hex Value</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="credential" [(ngModel)]="newCredential.credential" style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="numBits">Number of Bits</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="numBits" [(ngModel)]="newCredential.numBits" style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Owner</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown [options]="availableUsers" filter="true" [(ngModel)]="selectedOwner" [virtualScroll]="true"
                      [itemSize]="31"
                      optionLabel="fullName"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="addCredential()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>

<p-dialog header="Edit access credential" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>

    <div class="ui-g-12">
      <div *ngIf="requiredFields" style="    background: yellow;
    text-align: center;">
        <b>Card No</b> and <b>Facily Code</b> are required fields
      </div>
      <div class="ui-g-3">
        <label for="editFormats">Card format</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown id="editFormats" [options]="credentialFormatsList" [(ngModel)]="selectedCredentialFormat"
                    disabled="true" readonly="true"
                    optionLabel="credentialFormatDescription">
        </p-dropdown>
      </div>
    </div>

    <div *ngIf="selectedCredentialFormat!=undefined && selectedCredentialFormat.credentialFormatId==100">

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective Date</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.enableOn" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective To</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.expires" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="referenceId">Card No</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="cardNo" [(ngModel)]="newCredential.referenceId" pKeyFilter="int" style="width: 100%;"
                 required="true"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="referenceId">Facility code</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="facilityCode" [(ngModel)]="newCredential.facility_code" pKeyFilter="int" required="true"
                 style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Owner</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown [options]="availableUsers" filter="true" [(ngModel)]="selectedOwner" [virtualScroll]="true"
                      [itemSize]="31"
                      optionLabel="fullName"></p-dropdown>
        </div>
      </div>

    </div>

    <div *ngIf="selectedCredentialFormat!=undefined && selectedCredentialFormat.credentialFormatId!=100">
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective Date</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.enableOn" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>
      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Effective To</label>
        </div>
        <div class="ui-g-9">
          <p-calendar [(ngModel)]="newCredential.expires" [showTime]="true" [readonlyInput]="false"
                      appendTo="body"></p-calendar>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="editReferenceId">Card Reference Id</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="editReferenceId" [(ngModel)]="newCredential.referenceId" style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="editCredential">Hex Value</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="editCredential" [(ngModel)]="newCredential.credential" style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label for="editNumBits">Number of Bits</label>
        </div>
        <div class="ui-g-9">
          <input pInputText id="editNumBits" [(ngModel)]="newCredential.numBits" style="width: 100%;"/>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-3">
          <label>Owner</label>
        </div>
        <div class="ui-g-9">
          <p-dropdown [options]="availableUsers" [(ngModel)]="selectedOwner" [virtualScroll]="true"
                      [itemSize]="31" optionLabel="fullName"></p-dropdown>
        </div>
      </div>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="saveCredentialChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>

<p-dialog header="Delete access credentials" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade"
          [modal]="true" [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected access credentials?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteCredentials()" label="Delete"></button>
    </div>
  </div>
</p-dialog>
