<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" style="cursor: pointer" class="material-icons">arrow_back</i> Users</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [resizableColumns]="true" [columns]="cols" responsive="true" [loading]="loading"
                 [(selection)]="selectedUsers"
                 [value]="usersList" [paginator]="true" [rows]="10">
          <ng-template pTemplate="header" let-columns>
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <th style="width: 80px;">
                Details
              </th>
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelDesc="Activate to sort in descending order"
                            ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <th></th>
              <th class="tableFilterField" *ngFor="let col of columns" [ngSwitch]="col.field">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')"> <!--col.filterMatchMode-->
              </th>
            </tr>

          </ng-template>


          <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
<!--              <td style="text-align: center">-->
<!--                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>-->
<!--              </td>-->
              <td style="text-align: center">
                <button pButton icon="fa fa-search" (click)="showDialogDetails(rowData)"></button>
              </td>
              <td *ngFor="let col of columns">
                <div
                  *ngIf="!rowData.isEditable || (rowData.isEditable && col.field=='userId')"> {{rowData[col.field]}}</div>
                <div *ngIf="rowData.isEditable && col.field!='userId'"><input type="text"
                                                                              [(ngModel)]="rowData[col.field]"></div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedUsers.length>0">Selected users: {{selectedUsers.length}}</div>
          </ng-template>
        </p-table>

<!--        <div class="buttons-container">-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToAdd()" label="Add"></button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToEdit()"-->
<!--                  [disabled]="selectedUsers.length != 1"-->
<!--                  label="Edit">-->
<!--          </button>-->
<!--          <button class="rps-button" pButton type="button" (click)="showDialogToDelete()" label="Delete"-->
<!--                  [disabled]="selectedUsers.length<1">-->
<!--          </button>-->
<!--          <div *ngIf="editModeOn">-->
<!--            <button class="rps-button" pButton type="button" (click)="setEditModeOff()" label="Cancel"></button>-->
<!--            <button class="rps-button" pButton type="button" (click)="saveUserChanges()" label="Save changes">-->
<!--            </button>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

    </div>
<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Add user" [(visible)]="displayAddDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" [contentStyle]="{'overflow':'visible'}">
  <div class="ui-g-12">
    <div class="ui-g-4">
      <label for="firstname">First Name</label>
    </div>
    <div class="ui-g-8">
      <input pInputText id="firstname" [(ngModel)]="newUser.firstName"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-4">
      <label for="lastname">Last Name</label>
    </div>
    <div class="ui-g-8">
      <input pInputText id="lastname" [(ngModel)]="newUser.lastName"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-4">
      <label for="groups">Groups</label>
    </div>
    <div class="ui-g-8">
      <p-multiSelect id="groups" [options]="groupsList" [(ngModel)]="selectedGroups" optionLabel="name"></p-multiSelect>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="selectedGroups.length>0">
    <div class="ui-g-4">
      <label> Selected groups</label>
    </div>
    <div class="ui-g-8">
      <ng-template ngFor let-item [ngForOf]="selectedGroups" let-i="index">
        {{item.name}} ;
      </ng-template>
    </div>
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeAddDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="addUser()" label="Save"></button>
    </div>
  </div>
</p-dialog>


<p-dialog header="Delete users" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all credentials of the selected users?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteUsers()" label="Delete"></button>
    </div>
  </div>
</p-dialog>

<p-dialog header="Edit user" [(visible)]="displayEditDialog" [responsive]="true" showEffect="fade" [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '600px'}">
  <div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="firstnameEdit">First Name</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="firstnameEdit" [(ngModel)]="newUser.firstName"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="lastnameEdit">Last Name</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="lastnameEdit" [(ngModel)]="newUser.lastName"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="groupsEdit">Groups</label>
      </div>
      <div class="ui-g-8">
        <!--<p-dropdown id="groups" [options]="groupsList" optionLabel="name"
                    [(ngModel)]="selectedGroups"></p-dropdown>-->
        <p-multiSelect id="groupsEdit" [options]="groupsList" [(ngModel)]="selectedGroups"  filter="true"
                       optionLabel="name" [panelStyle]="{minWidth:'12em'}"></p-multiSelect>
      </div>
    </div>

    <div class="ui-g-12" *ngIf="selectedGroups.length>0">
      <div class="ui-g-4">
        <label> Selected groups</label>
      </div>
      <div class="ui-g-8">
        <ng-template ngFor let-item [ngForOf]="selectedGroups" let-i="index">
          {{item.name}} ;
        </ng-template>
      </div>
    </div>
  </div>

  <!-- <p-footer>-->
  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="closeEditDialog()"
              label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" type="button" pButton (click)="saveUserChanges()"
              label="Save"></button>
    </div>
  </div>
  <!--</p-footer>-->
</p-dialog>

<p-dialog header="User Details" [(visible)]="displayDetailsDialog" [responsive]="true" showEffect="fade"
          [modal]="true"
          [contentStyle]="{'overflow':'visible'}"
          [style]="{width: '500px'}">
  <div>
    <div class="user-info">
      <div class="ui-g-4">
        <p for="detailFirstName" class="textNoMargin">First Name</p>
      </div>
      <div class="ui-g-4">
        <p id="detailFirstName" class="textNoMargin" style="width: 100%;font-weight: bold">{{newUser.firstName}}</p>
      </div>
    </div>

    <div class="user-info">
      <div class="ui-g-4">
        <p for="detailLastName" class="textNoMargin">Last Name</p>
      </div>
      <div class="ui-g-4">
        <p id="detailLastName" class="textNoMargin" style="width: 100%;font-weight: bold">{{newUser.lastName}}</p>
      </div>
    </div>

    <div class="user-info">
      <div class="ui-g-4">
        <p for="detailLastName" class="textNoMargin">Assigned groups</p>
      </div>
      <div class="ui-g-8" style="font-size: 150%">
        <ng-template ngFor let-item [ngForOf]="newUser.uiSecurityGroup" let-i="index">
          <pre>{{item.name}}</pre>
        </ng-template>
      </div>
    </div>
  </div>
</p-dialog>
