<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="content-wrapper">

    <div style="margin-bottom: 20px;">

      <div class="ui-g">
        <div class="ui-lg-6 ui-g-12">
          <h1><i (click)="navigateBack()" class="material-icons" style="cursor: pointer">arrow_back</i> Schedule Details
          </h1>
        </div>
        <div class="ui-lg-6  ui-g-12">
          <button (click)="showDialogToEdit()" class="rps-button" label="Edit" pButton style="width:150px;margin-block-start:1em; margin-block-end:1em;height:40px;"
                  type="button"></button>
        </div>
      </div>

      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-lg-4 ui-md-12 ui-g-12">
            <p class="textNoMargin"> Schedule name:</p>
          </div>
          <div class="ui-lg-8 ui-md-12 ui-g-12">
            <p class="textNoMargin" style="font-weight: bold;"> {{schedule.scheduleName}} </p>
          </div>
        </div>

        <div class=" ui-g-12">
          <div class="ui-lg-4 ui-md-12 ui-g-12">
            <p class="textNoMargin">Site name:</p>
          </div>
          <div class="ui-lg-8 ui-md-12 ui-g-12">
            <p *ngIf="schedule.siteId>0" class="textNoMargin" style="font-weight: bold;"> {{schedule.siteName}}</p>
            <p *ngIf="schedule.siteId==0" class="textNoMargin" style="font-weight: bold;">Universal</p>
          </div>
        </div>

      </div>

      <div class="ui-g" style="margin-top:20px;">
        <p class="textNoMargin" style="font-weight: bold;">Site Permissions</p>
      </div>

      <ng-template [ngForOf]="schedule.scheduleDataArray" let-i="index" let-item ngFor>
        <div *ngIf="i!=0 && i!=7">
          <div class="ui-g">
            <div class="ui-lg-4 ui-md-12 ui-g-12" style="border: 1px grey solid;">
              <p class="textNoMargin" style="font-weight: bold">{{weekDaysUI[i].dayName}}</p>
            </div>
            <div class="ui-lg-8 ui-md-12 ui-g-12">
              <p *ngIf="item.toString().length!=0" class="textNoMargin">{{item}}</p>
              <p *ngIf="item.toString().length==0" class="textNoMargin">No access</p>
            </div>
          </div>
        </div>
      </ng-template>

      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-g-12" style="border: 1px grey solid;">
          <p class="textNoMargin" style="font-weight: bold"> {{weekDaysUI[0].dayName}}</p>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-g-12">
          <p class="textNoMargin">{{schedule.scheduleDataArray[0]}}</p>
          <p *ngIf="schedule.scheduleDataArray[0].toString().length==0" class="textNoMargin">No access</p>
        </div>
      </div>


      <div class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-g-12" style="border: 1px grey solid;">
          <p class="textNoMargin" style="font-weight: bold"> {{weekDaysUI[7].dayName}}</p>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-g-12">
          <p class="textNoMargin"> {{schedule.scheduleDataArray[7]}}</p>
          <p *ngIf="schedule.scheduleDataArray[7].toString().length==0" class="textNoMargin">No access</p>
        </div>
      </div>


      <div *ngIf="schedule.groupId>0" class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-g-12" style="border: 1px grey solid;">
          <p class="textNoMargin" style="font-weight: bold">Enabling group</p>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-g-12">
          <p class="textNoMargin"> {{schedule.groupName}}</p>
        </div>
      </div>

      <div *ngIf="schedule.groupId>0" class="ui-g">
        <div class="ui-lg-4 ui-md-12 ui-g-12" style="border: 1px grey solid;">
          <p class="textNoMargin" style="font-weight: bold">Enabling grace period</p>
        </div>
        <div class="ui-lg-8 ui-md-12 ui-g-12">
          <p class="textNoMargin"> {{schedule.gracePeriod}}</p>
        </div>
      </div>


      <div class="ui-g" style="margin-top:20px;">
        <p class="textNoMargin" style="font-weight: bold;">Holidays observed</p>
      </div>

      <p-table #dt [columns]="cols" [loading]="loading" [paginator]="true" [resizableColumns]="true"
               [rows]="10" [value]="schedule.holidayDTOSet" responsive="true">
        <ng-template let-columns pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                          ariaLabelAsc="Activate to sort in ascending order"
                          ariaLabelDesc="Activate to sort in descending order"></p-sortIcon>
            </th>
          </tr>
        </ng-template>


        <ng-template let-columns="columns" let-rowData pTemplate="body">
          <tr>
            <td *ngFor="let col of columns">
              <div
                *ngIf="col.field == 'from' || col.field == 'to'">{{ rowData[col.field] | date:'M/d/y h:mm:ss a' }} </div>
              <div *ngIf="col.field != 'from' && col.field != 'to'">{{ rowData[col.field] }}</div>
            </td>
          </tr>
        </ng-template>

      </p-table>


    </div>
<!--    <div>-->
<!--      <app-panel-log [id]="currentAccountId"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>


<p-dialog [(visible)]="displayEditDialog" [contentStyle]="{'overflow':'visible'}" [modal]="true" [responsive]="true" [style]="{width: '850px'}"
          header="Edit schedule" showEffect="fade">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="name">Schedule name</label>
    </div>
    <div class="ui-g-9">
      <input [(ngModel)]="newSchedule.scheduleName" id="name" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label>Site</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown [(ngModel)]="selectedGroup"  filter="true" [options]="groupList" optionLabel="name"></p-dropdown>
    </div>
  </div>

  <div *ngIf="selectedGroup != null && selectedGroup != undefined && selectedGroup.objectId != 0" class="ui-g-12">
    <div class="ui-g-3">
      <label>Group</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown [(ngModel)]="selectedUserGroup" [options]="userGroupList"  filter="true" optionLabel="name"></p-dropdown>
    </div>
  </div>

  <div *ngIf="selectedGroup != null && selectedGroup != undefined && selectedGroup.objectId != 0" class="ui-g-12">
    <div class="ui-g-3">
      <label for="period">Grace period</label>
    </div>
    <div class="ui-g-9">
      <input [(ngModel)]="newSchedule.gracePeriod" id="period" pInputText style="width: 100%;"/>
    </div>
  </div>


  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="description">Description</label>
    </div>
    <div class="ui-g-9">
      <input [(ngModel)]="newSchedule.description" id="description" pInputText style="width: 100%;"/>
    </div>
  </div>


  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="description">Holidays</label>
    </div>
    <div class="ui-g-9">
      <p-multiSelect [(ngModel)]="selectedHolidays" [options]="holidays" [panelStyle]="{minWidth:'12em'}"
                     optionLabel="name"></p-multiSelect>
    </div>
  </div>

  <div *ngIf="selectedHolidays.length>0" class="ui-g-12">
    <div class="ui-g-3">
      <label> Selected holidays</label>
    </div>
    <div class="ui-g-9">
      <ng-template [ngForOf]="selectedHolidays" let-i="index" let-item ngFor>
        {{item.name}} ;
      </ng-template>
    </div>
  </div>


  <div class="ui-g-12" style="text-align: center;margin:auto">


    <div class="ui-g-3">
      <p-dropdown [(ngModel)]="selectedWeekDay"  filter="true" [options]="weekDays" optionLabel="dayName"></p-dropdown>
    </div>
    <div class="ui-g-2">
      <p-inputMask [(ngModel)]="scheduleData.start" mask="99:99" placeholder="99:99" slotChar="HH:mm"
      ></p-inputMask>

    </div>
    <div class="ui-g-2">
      <p-dropdown [(ngModel)]="startAMPM" [options]="ampm" optionLabel="label"></p-dropdown>
    </div>
    <div class="ui-g-2">

      <p-inputMask [(ngModel)]="scheduleData.stop" mask="99:99" placeholder="99:99" slotChar="HH:mm"
      ></p-inputMask>

    </div>
    <div class="ui-g-2">
      <p-dropdown [(ngModel)]="stopAMPM" [options]="ampm" optionLabel="label"></p-dropdown>
    </div>

    <div class="ui-g-1">
      <button (click)="addScheduleDataToList()" [disabled]="scheduleData.start == null || scheduleData.stop == null" class="rps-button" label="+" pButton
              type="button"></button>
    </div>
  </div>
  <div class="ui-g-12">

    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList>
        <mat-chip (removed)="remove(scheduleD)" *ngFor="let scheduleD of scheduleDataList" [removable]="removable"
                  [selectable]="selectable" disableRipple>
          {{scheduleD.dayName}} - {{scheduleD.start}} : {{scheduleD.stop}}
          <mat-icon *ngIf="removable" matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-form-field>

  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button (click)="closeEditDialog()" class="rps-button dialog-button" label="Back" pButton
              type="button"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button (click)="editSchedule()" class="rps-button dialog-button" label="Save" pButton type="button"></button>
    </div>
  </div>

</p-dialog>