@import "../../../../styles/variables";

p {
  font-size: $medium-paragraph-font-size;
}

td, th {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 150px;
}

.content-wrapper {
  display: grid;
  grid-template-columns: 60% 40%;
}

.LoaderBalls {
  margin: 30% auto;
}

.tableFilterField {
  padding: 0px !important;
  margin: 0px !important;
}

.buttons-container {
  margin: 2%;

  .rps-button {
    display: inline-block;
    width: fit-content;
  }

}

::ng-deep body .ui-dialog-footer {

  padding: 0em 1em !important;
}

.pi {
  font-family: primeicons;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
}

::ng-deep body .ui-inputtext, ::ng-deep body .ui-calendar, ::ng-deep body .ui-dropdown {
  width: 100% !important;
  min-width: unset;
}

::ng-deep body .mat-form-field {
  width: 100%;
}

::ng-deep body .mat-chip-list-wrapper {
  display: block !important;
}

pinputtext {
  width: 100%;
}

::ng-deep body .mat-form-field .mat-focused {
  display: none !important;
}

.textNoMargin {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
}
