@import "variables";

@mixin light-grey-border($opacity: .9) {
  border: 1px solid $light-grey;
  border-radius: 5px;
  opacity: $opacity;
}

@mixin grey-border() {
  border: 1px solid #d4d4d4;
  border-radius: 5px;
}

@mixin brivo-blue-border($opacity: .3) {
  border: 1px solid rgba($brivo-blue, $opacity);
  border-radius: 5px;
}
