$max-container-width: 2000px;
$tablet-screen-width: 815px;
$mobile-screen-width: 609px;

$title-size: 32px;
$small-title-font-size: 27px;

$medium-paragraph-font-size: 20px;
$paragraph-font-size: 16px;
$small-text-font-size: 14px;

$menu-height: 60px;

$blue-border: 1px solid blue;
$green-border: 1px solid green;

$light-grey: #dde2e6;
$dark-grey: #606878;
$brivo-blue: #6793cd;

$brivo-site-dark-grey: rgb(108, 109, 111);
$brivo-site-green: rgb(121, 193, 66);
$brivo-site-blue: rgb(115, 156, 210);
$brivo-site-light-grey: rgb(246, 246, 246);
$brivo-site-white: rgb(255, 255, 255);

$theme-dark-grey:#689dd8;
