textarea {
  resize: none
}

.feature_style {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.tab_1 {
  margin-left: 5px;
  font-size: 20px;
}

.tab_2 {

  margin-left: 15px;
  font-size: 20px;
}

.tab_3 {
  margin-left: 25px;
  font-size: 20px;
}

.keyword_style {
  color: #0f1b59;
}

.datatable_style {
  color: #335dbc;
}

::ng-deep body .ui-inputtext {
  width: 100%
}

.datatable_header {
  font-weight: normal;
}

::ng-deep body .ui-tooltip {
  width: 40px !important;
  white-space: pre;
}

::ng-deep body .ui-tooltip-text {
  width: 400px !important;
  white-space: pre;
}

::ng-deep body .ui-dropdown {
  width: 100% !important;
}

.divider {
  margin: auto;
  width: 100%;
  background: grey;
  height: 5px;
}

.ui-tooltip {
  max-width: 200px !important;
  height: auto;
}

::ng-deep body .ui-tabview .ui-tabview-nav > li.ui-state-active {
  font-weight: bold;
}

::ng-deep body .ui-tabview.ui-tabview-top > .ui-tabview-nav > li {
  font-size: 17px;
}

.text-style {
  font-size: 16px;
}

.test-passed {
  color: green;
  font-size: 25px;
}

.test-failed {
  color: red;
  font-size: 25px;
}

.test-pending {
  color: blue;
  font-size: 25px;
}

.iterationHeader {
  width: 150px;
}

.durationHeader {
  width: 200px;
}

@keyframes ui-progress-spinner-color-blue {
  100%,
  0%,
  40%,
  66%,
  80%,
  90% {
    stroke: #0057e7;
  }
}

::ng-deep body .ui-progress-spinner-circle {
  stroke: blue !important;
  -webkit-animation: ui-progress-spinner-dash 1.5s ease-in-out infinite, ui-progress-spinner-color-blue 6s ease-in-out infinite;
  animation: ui-progress-spinner-dash 1.5s ease-in-out infinite, ui-progress-spinner-color-blue 6s ease-in-out infinite;
}

