<div *ngIf="switchForm" style="width: 100%">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="inputs" style="width: 100%;font-weight: bold">Physical Input</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="inputs" [options]="switchForm.availableInputs" [(ngModel)]="switchForm.input"
                  optionLabel="description"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="outputs" style="width: 100%;font-weight: bold">Physical Ouputs</label>
    </div>
    <div class="ui-g-9">
      <p-multiSelect id="outputs" [options]="switchForm.availableOutputs" [(ngModel)]="switchForm.outputs"
                     optionLabel="description"></p-multiSelect>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="behavior" style="width: 100%;font-weight: bold">Output Behavior</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="behavior" [options]="outputBehaviors" [(ngModel)]="selectedOutputBehavior"
                  optionLabel="label" (onChange)="outputBehaviorSelectionChanged()"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="disengageDelay" style="width: 100%;font-weight: bold">Disengage delay</label>
    </div>
    <div class="ui-g-9">
      <input id="disengageDelay" [(ngModel)]="switchForm.disengageDelay" pInputText style="width: 100%;"
             [disabled]="disengageDelayDisabled"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="schedules" style="width: 100%;font-weight: bold">Schedule</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="schedules" [options]="scheduleList" [(ngModel)]="selectedSchedule"
                  optionLabel="scheduleName"></p-dropdown>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="reportEngage" style="width: 100%;font-weight: bold">Report Engage</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="reportEngage" [(ngModel)]="switchForm.reportEngage" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="reportDisengage" style="width: 100%;font-weight: bold">Report Disengage</label>
    </div>
    <div class="ui-g-9">
      <p-checkbox id="reportDisengage" [(ngModel)]="switchForm.reportDisengage" binary="true"></p-checkbox>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="engageMessage" style="width: 100%;font-weight: bold">Engage message</label>
    </div>
    <div class="ui-g-9">
      <input id="engageMessage" [(ngModel)]="switchForm.engageMessage" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="disengageMessage" style="width: 100%;font-weight: bold">Disengage message</label>
    </div>
    <div class="ui-g-9">
      <input id="disengageMessage" [(ngModel)]="switchForm.disengageMessage" pInputText style="width: 100%;"/>
    </div>
  </div>

</div>