<div class="page-content">

  <div *ngIf="!contentLoaded" class="LoaderBalls">
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
    <div class="LoaderBalls__item"></div>
  </div>

  <div *ngIf="contentLoaded" class="ui-g">

    <div style="margin-bottom: 20px"
         [ngClass]="{'ui-lg-12 ui-md-12 ui-g-12' : !showLog, 'ui-lg-6 ui-md-6 ui-g-6' : showLog}">
      <h1><i (click)="navigateBack()" class="material-icons" style="cursor: pointer">arrow_back</i> Devices</h1>
<!--      <button pButton label="Hide log" (click)="hideShowLog()" *ngIf="showLog"></button>-->
<!--      <button pButton label="Show log" (click)="hideShowLog()" *ngIf="!showLog"></button>-->
      <div>
        <p-table #dt [(selection)]="selectedDevices" [columns]="cols" [loading]="loading" [paginator]="true"
                 [resizableColumns]="true"
                 [rows]="10" [value]="devicesList" responsive="true">
          <ng-template let-columns pTemplate="header">
            <tr>
<!--              <th style="width: 80px;">-->
<!--                Select-->
<!--              </th>-->
              <!--<th style="width: 80px;">-->
              <!--Details-->
              <!--</th>-->
              <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                {{col.header}}
                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort"
                            ariaLabelAsc="Activate to sort in ascending order"
                            ariaLabelDesc="Activate to sort in descending order"></p-sortIcon>
              </th>
            </tr>

            <tr>
<!--              <th>-->
<!--                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>-->
<!--              </th>-->
              <!--<th></th>-->
              <th *ngFor="let col of columns" [ngSwitch]="col.field" class="tableFilterField">
                <input placeholder="Search" (input)="dt.filter($event.target.value, col.field, 'contains')">
              </th>
            </tr>

          </ng-template>

          <ng-template let-columns="columns" let-rowData pTemplate="body">
            <tr [pSelectableRow]="rowData">
              <td style="text-align: center">
                <p-tableCheckbox [value]="rowData"></p-tableCheckbox>
              </td>
              <!--<td style="text-align: center">-->
              <!--<button (click)="showDeviceDetails(rowData)" icon="fa fa-search" pButton></button>-->
              <!--</td>-->
              <td *ngFor="let col of columns">
                {{rowData[col.field]}}
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="summary">
            <div *ngIf="selectedDevices.length > 0">Selected devices: {{selectedDevices.length}}</div>
          </ng-template>
        </p-table>

<!--        <div class="buttons-container">-->
<!--          <button (click)="showDialogToAdd()" class="rps-button" label="Add" pButton type="button"></button>-->
<!--          <button (click)="showDialogToEdit()" [disabled]="selectedDevices.length != 1" class="rps-button" label="Edit"-->
<!--                  pButton-->
<!--                  type="button">-->
<!--          </button>-->
<!--          <button (click)="showDialogToDelete()" [disabled]="selectedDevices.length < 1" class="rps-button"-->
<!--                  label="Delete" pButton-->
<!--                  type="button">-->
<!--          </button>-->
<!--        </div>-->
      </div>
    </div>

<!--    <div *ngIf="showLog" [ngClass]="{'ui-lg-6 ui-md-6 ui-g-6' : showLog}">-->
<!--      <app-panel-log [id]="currentAccountId" [selectedPanel]="selectedPanel"></app-panel-log>-->
<!--    </div>-->
  </div>
</div>

<p-dialog header="Delete devices" [(visible)]="displayDeleteDialog" [responsive]="true" showEffect="fade"
          [modal]="true" [style]="{width: '500px'}" class="userDialog" ngClass="userDialog">
  <div class="ui-g-12">
    Are you sure you want to delete all the selected devices?
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="closeDeleteDialog()" label="Back"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button class="rps-button dialog-button" pButton (click)="deleteDevices()" label="Delete"></button>
    </div>
  </div>
</p-dialog>

<p-dialog [(visible)]="displayAddDialog" [contentStyle]="{'overflow':'visible','minHeight':'800px','maxHeight':'800px'}"
          [modal]="true" [responsive]="true" class="dialogAdd"
          [style]="{width: '800px', height: '900px'}"
          header="Add device" showEffect="fade">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="addDeviceName" style="width: 100%;font-weight: bold">Device name</label>
    </div>
    <div class="ui-g-9">
      <input [(ngModel)]="newDevice.name" id="addDeviceName" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="addSite" style="width: 100%;font-weight: bold">Site</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown id="addSite" [options]="sitesList" [(ngModel)]="selectedSite" optionLabel="siteName"
                  filter="true" *ngIf="selectedSite == undefined || selectedSite.siteId == 0"></p-dropdown>
      <label *ngIf="selectedSite != undefined && selectedSite.siteId > 0">{{selectedSite.siteName}}</label>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="selectedSite != undefined && selectedSite.siteName != ''">
    <div class="ui-g-3">
      <label for="addBrain" style="width: 100%;font-weight: bold">Brain</label>
    </div>
    <div class="ui-g-9">
      <p-dropdown [(ngModel)]="selectedPanel" [options]="panelList" id="addBrain" filter="true"
                  optionLabel="name" *ngIf="selectedPanel == undefined || selectedPanel.brainId == 0"></p-dropdown>
      <label *ngIf="selectedPanel != undefined && selectedPanel.brainId > 0">{{selectedPanel.name}}</label>
    </div>
  </div>

  <div
    *ngIf="selectedPanel != undefined && selectedPanel.name != '' && selectedSite != undefined && selectedSite.siteName != ''">
    <div class="ui-g-12">
      <div class="ui-g-3">
        <label for="addType" style="width: 100%;font-weight: bold">Device Type</label>
      </div>
      <div class="ui-g-9">
        <p-dropdown [(ngModel)]="selectedDeviceType" [options]="deviceTypes" optionLabel="label"
                    *ngIf="selectedDeviceType == undefined || selectedDeviceType.label === ''"
                    id="addType"></p-dropdown>
        <label
          *ngIf="selectedDeviceType != undefined && selectedDeviceType.label !== ''">{{selectedDeviceType.label}}</label>
      </div>
    </div>

    <div *ngIf="selectedDeviceType != undefined && displayAddDialog">
      <div class="ui-g-12"
           *ngIf="selectedDeviceType !== undefined && selectedDeviceType.value === SWITCH && displayAddDialog">
        <app-switch [panelOid]="selectedPanel.objectId" [currentAccountId]="currentAccountId"
                    [siteObjectId]="selectedSite.siteObjectId" [action]="ADD_DEVICE_ACTION"></app-switch>
      </div>

      <div class="ui-g-12"
           *ngIf="selectedDeviceType !== undefined && selectedDeviceType.value === TIMER && displayAddDialog">
        <app-timer [panelOid]="selectedPanel.objectId" [currentAccountId]="currentAccountId"
                   [siteObjectId]="selectedSite.siteObjectId" [action]="ADD_DEVICE_ACTION"></app-timer>
      </div>

      <div class="ui-g-12"
           *ngIf="selectedDeviceType !== undefined && selectedDeviceType.value === EVENT_TRACK && displayAddDialog">
        <app-event [panelOid]="selectedPanel.objectId" [currentAccountId]="currentAccountId"
                   [siteObjectId]="selectedSite.siteObjectId" [action]="ADD_DEVICE_ACTION"
                   (sendEventToDevices)="receiveEventFromEventTrackChild($event)"></app-event>
      </div>

      <div class="ui-g-12"
           *ngIf="selectedDeviceType !== undefined && selectedDeviceType.value === VALID_CREDENTIAL && displayAddDialog">
        <app-valid-credential [panelOid]="selectedPanel.objectId" [currentAccountId]="currentAccountId"
                              [siteObjectId]="selectedSite.siteObjectId"
                              [action]="ADD_DEVICE_ACTION"
                              (sendEventToDevices)="receiveEventFromValidCredentialChild($event)"></app-valid-credential>
      </div>

      <div class="ui-g-12 dialog-buttons-container">
        <div class="ui-g-6 dialog-button-container">
          <button (click)="closeAddDialog()" class="rps-button dialog-button" label="Back" pButton
                  type="button"></button>
        </div>
        <div class="ui-g-6 dialog-button-container">
          <button (click)="addDevice()" class="rps-button dialog-button" label="Save" pButton
                  type="button" [disabled]="isAddDeviceButtonDisabled"></button>
        </div>
      </div>
    </div>
  </div>

</p-dialog>

<p-dialog [(visible)]="displayEditDialog"
          [contentStyle]="{'overflow':'visible','minHeight':'700px','maxHeight':'800px'}" [modal]="true"
          [responsive]="true" class="dialogEdit"
          [style]="{width: '800px', height: '900px'}"
          header="Edit device" showEffect="fade">
  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editDeviceName" style="width: 100%;font-weight: bold">Device name</label>
    </div>
    <div class="ui-g-9">
      <input [(ngModel)]="newDevice.name" id="editDeviceName" pInputText style="width: 100%;"/>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editSite" style="width: 100%;font-weight: bold">Site</label>
    </div>
    <div class="ui-g-9">
      <label id="editSite">{{newDevice.siteName}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editBrain" style="width: 100%;font-weight: bold">Brain</label>
    </div>
    <div class="ui-g-9">
      <label id="editBrain">{{newDevice.panelName}}</label>
    </div>
  </div>

  <div class="ui-g-12">
    <div class="ui-g-3">
      <label for="editType" style="width: 100%;font-weight: bold">Device Type</label>
    </div>
    <div class="ui-g-9">
      <label id="editType">{{newDevice.deviceType}}</label>
    </div>
  </div>

  <div class="ui-g-12" *ngIf="newDevice.deviceType == SWITCH && displayEditDialog">
    <app-switch [panelOid]="newDevice.panelOid" [currentAccountId]="currentAccountId"
                [siteObjectId]="newDevice.siteObjectId" [deviceId]="newDevice.deviceId"
                [action]="EDIT_DEVICE_ACTION"></app-switch>
  </div>

  <div class="ui-g-12" *ngIf="newDevice.deviceType == TIMER && displayEditDialog">
    <app-timer [panelOid]="newDevice.panelOid" [currentAccountId]="currentAccountId"
               [siteObjectId]="newDevice.siteObjectId" [deviceId]="newDevice.deviceId"
               [action]="EDIT_DEVICE_ACTION"></app-timer>
  </div>

  <div class="ui-g-12" *ngIf="newDevice.deviceType == EVENT_TRACK && displayEditDialog">
    <app-event [panelOid]="newDevice.panelOid" [currentAccountId]="currentAccountId"
               [siteObjectId]="newDevice.siteObjectId" [deviceId]="newDevice.deviceId"
               [action]="EDIT_DEVICE_ACTION"></app-event>
  </div>

  <div class="ui-g-12" *ngIf="newDevice.deviceType == VALID_CREDENTIAL && displayEditDialog">
    <app-valid-credential [panelOid]="newDevice.panelOid" [currentAccountId]="currentAccountId"
                          [siteObjectId]="newDevice.siteObjectId" [deviceId]="newDevice.deviceId"
                          [action]="EDIT_DEVICE_ACTION"></app-valid-credential>
  </div>

  <div class="ui-g-12 dialog-buttons-container">
    <div class="ui-g-6 dialog-button-container">
      <button (click)="closeEditDialog()" class="rps-button dialog-button" label="Back" pButton
              type="button"></button>
    </div>
    <div class="ui-g-6 dialog-button-container">
      <button (click)="saveDeviceChanges()" class="rps-button dialog-button" label="Save" pButton
              type="button" [disabled]="isAddDeviceButtonDisabled"></button>
    </div>
  </div>

</p-dialog>
