
.alert-success {
  background: green;
  color: white;
  font-size: 20px;
  text-align: center;
}

.alert-warning {
  background: orange;
  color: white;
  font-size: 20px;
  text-align: center;
}

.alert-danger {
  background: red;
  color: white;
  font-size: 20px;
  text-align: center;
}
